/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, sass/ie.scss */
.page-template-doctor-locator-php .find-doctor .customSelectInner, .page-template-sales-rep-locator-php .find-doctor .customSelectInner {
  background: url("img/arrow-select-small-blue.png") 88% center no-repeat !important;
}

/* line 19, sass/ie.scss */
.home .find-doctor span.customSelect, .page-template-doctors-php .find-doctor span.customSelect {
  background: none !important;
}
/* line 22, sass/ie.scss */
.home .find-doctor .customSelectInner, .page-template-doctors-php .find-doctor .customSelectInner {
  background: url("img/arrow-select-small.png") 88% center no-repeat !important;
}

/* line 28, sass/ie.scss */
.page-template-doctor-locator-php .find-doctor span.customSelect, .page-template-sales-rep-locator-php .find-doctor span.customSelect {
  background: none !important;
}
/* line 31, sass/ie.scss */
.page-template-doctor-locator-php .find-doctor .customSelectInner, .page-template-sales-rep-locator-php .find-doctor .customSelectInner {
  background: url("img/arrow-select-small-blue.png") 88% center no-repeat !important;
}
