/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : Core 3.2.1
	
	Site	: www.buildinternet.com/project/supersized
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/
/* line 13, sass/supersized.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, sass/supersized.scss */
body {
  background: #111;
  height: 100%;
}

/* line 15, sass/supersized.scss */
img {
  border: none;
}

/* line 17, sass/supersized.scss */
#supersized-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  text-indent: -999em;
  background: url(../img/progress.gif) no-repeat center center;
}

/* line 19, sass/supersized.scss */
#supersized {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -999;
  height: 100%;
  width: 100%;
}

/* line 20, sass/supersized.scss */
#supersized img {
  width: auto;
  height: auto;
  position: relative;
  outline: none;
  border: none;
}

/* line 22, sass/supersized.scss */
#supersized a {
  z-index: -30;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: block;
}

/* line 23, sass/supersized.scss */
#supersized a.image-loading {
  background: #111111 url(../img/progress.gif) no-repeat center center;
  width: 100%;
  height: 100%;
}
