/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@mixin blue-form {
    .customSelectInner {
        background: url('img/arrow-select-small-blue.png') 88% center no-repeat !important;
    }
}

.page-template-doctor-locator-php, .page-template-sales-rep-locator-php {
    .find-doctor {
    @include blue-form;
    }
}

.home, .page-template-doctors-php {
	.find-doctor span.customSelect {
		background: none !important;
	}
	.find-doctor .customSelectInner {
	    background: url('img/arrow-select-small.png') 88% center no-repeat !important;
	}
}

.page-template-doctor-locator-php, .page-template-sales-rep-locator-php {
	.find-doctor span.customSelect {
		background: none !important;
	}
	.find-doctor .customSelectInner {
	    background: url('img/arrow-select-small-blue.png') 88% center no-repeat !important;
	}
}

