
 .page #wrapper {
    margin-top: 0;
    padding-top: 0; 
}
#logo {
    float:left;
    margin: 0;
    text-align: left;
    margin:31px 0 0 28px;
    width:191px;
    height:44px;
}
#logo img {
    width:191px;
    height:44px;
}
.grid, .grid-right {
    float: left;
}
#wrapper, .home #wrapper {
    margin-top: 0;
}
#featured {
    background-position: 0 0;
    min-height:277px;
    position: relative;
    margin-top:0;
    margin-bottom:30px;
    background-size: auto 276px;
}
.page-template-doctors-php #featured {
    background-position: 0 0;
    margin-top: 20px;
    background-size: auto 276px;
}
#featured-image .fluid-width-video-wrapper {
    margin: 20px 0 0 0;
}
.top-menu {
    display:table-cell;
    vertical-align: bottom;
    padding-bottom:14px;
    padding-right:15px;
}
.top-menu li a {
    font-size: 14px;
}
.top-menu li:first-child a, .top-menu li.current-page-ancestor a, .top-menu li.current_page_item a {
    padding-bottom: 4px;
}
#header {
    min-height:160px;
    padding:0;
}
.menu-form {
    float:right;
    overflow: hidden;
    vertical-align:bottom;
    padding-right:30px;
}
#header form#location {
    display:table-cell;
    vertical-align: bottom;
    margin:0;
    padding:18px 0 0 0;
}
#header form#location label {
    font-size:12px;
    font-weight:normal;
    margin:0;
}
#location span.customSelect {
    font-size:12px;
    padding: 0 .2em 0 .2em;
    background:url('img/sprites/select/tablet.png') 100% 0 no-repeat;
    height:27px;
    line-height:27px;
    width:211px;
    margin: 0;
}
#nav {
    padding-left: 28px;
}
.page-template-doctors-php .drawer {
}


#nav li:hover > ul {
    display: block;
}
#nav ul li {
    float:left;
    font-size:16px;
}
#nav ul li a {
    background:none;
    color: $dark-blue;
    padding:0 .5em;
}
#nav ul li.current_page_item a {
	background: none;
}

#nav ul li:first-child a {
    padding: 0 0.5em 0 0;
}

#nav ul#menu-doctors-menu li:first-child a {
	padding: 0 1em 0 0;
}

#nav ul#menu-doctors-menu ul.sub-menu li a {
	padding: 0 0.5em;
}

#nav ul.sub-menu li a {
    padding: 0 0.5em;
}
#nav ul li a:hover {
    background:none;
    color:$light-blue;
}
#nav ul li a svg, #nav ul li a img {
    display:none;
}
#nav #menu-doctors-menu ul li {
    text-align: left;
}
#nav span {
    display: block;
    line-height: 1;
}
#nav ul#menu-doctors-menu li a {
    line-height: 1;
    padding: 0 1em;
}

#nav ul ul {
    display: none;
    position: absolute;
    z-index: 99999;
    background-color:$dark-blue-rgba;
    width: 250px;
}
#nav ul ul li {
    position: relative;
}
#nav ul ul > a {
    font-size: 18px;
}
#nav ul ul ul {
    top: 0;
    left: 250px;
}
#nav ul ul li {
    float: none;
    margin: 0 0 0 0;
    /*padding: 0 6px;*/
    display: block;
    border: 0;
    padding-bottom: 1px;
}
#nav ul ul li span {
    display: block;
    font-size: 12px;
    line-height: 1;
}
#nav ul ul li:first-child {
    margin: 0 0 0 0;
}
#nav ul ul li a {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 1);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    padding: 0 13px;
    font-size: 18px;
}
#nav ul ul li:first-child a {
    border-top: 0;
}
#nav ul ul li:first-child li a {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 1);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    padding: 0 13px;
    font-size: 18px;
}
#nav ul ul li:first-child li:first-child a {
    border-top: 0;
}
#nav li.has_children li.has_children a:first-child:after {
    content:'';
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    right: 11px;
    top:11px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 5px solid transparent;
}
#nav li.has_children li.has_children .sub-menu a:first-child:after {
    display:none;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}
#nav ul ul li:hover {
    background-color:$darker-blue-rgba;
}
#nav ul ul li:first-child:after {
    content:'';
    position: absolute;
    left: 11px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid $dark-blue-rgba;
}
#nav ul ul li:hover:first-child:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid $darker-blue-rgba;
}
#nav ul#menu-doctors-menu li ul li a {
    line-height: 1.5;
}
#nav ul ul li a, #nav ul ul li:hover a {
    color: #fff;
    text-transform: none;
}

#nav ul ul ul li:first-child:after {
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid $dark-blue-rgba;
}
#nav ul ul ul li:first-child:after:hover {
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid $darker-blue-rgba;
}
#nav ul ul li:last-of-type ul {
	left: -250px;
}
#nav ul ul li:last-of-type ul li:first-child:after {
	left: 250px;
    top: 12px;
    width: 0;
    height: 0;
    border-right: 0;
    border-top: 5px solid transparent;
	border-left: 8px solid $dark-blue-rgba;
	border-bottom: 5px solid transparent;
}
#nav ul ul li:last-of-type ul li:hover:first-child:after {
	border-right: 0;
    border-top: 5px solid transparent;
	border-left: 8px solid $darker-blue-rgba ;
	border-bottom: 5px solid transparent;
	border-color: $darker-blue-rgba;
}
#nav ul ul li:last-of-type ul li:first-child:before {
}
.drawer {
    display:block !important;
    position: absolute;
    top:122px;
    margin:0;
    padding:0;
}
.featured-title {
    font-weight:normal;
    font-size:33px;
    text-align:right;
    padding:0;
}
.featured-subtitle {
    font-weight:normal;
    font-size:16px;
    text-align:right;
    display:block;
    margin-bottom:0;
}
#featured-image {

	display: none;
}
#featured p {
    display:block;
    text-align:right;
    padding:0;
    margin:0;
}
#featured .hero-copy {
    position:absolute;
    bottom:35px;
    left:0;
    width:200px;
}
.page-template-doctors-php #featured-image {
	display: none;
}
.page-template-doctors-php #featured .hero-copy {
    width: auto;
}
#featured .call-to-action {
    position: absolute;
    left: 244px;
    bottom: 20px;
}
.page-template-doctors-php #featured .hero-copy {
    position: absolute;
    bottom: 0;
    text-align: left;
    margin: 50px 0 0 20px;
    width: 380px;
}
.page-template-doctors-php .featured-title {
    font-size: 37px;
}
.page-template-doctors-php .featured-subtitle {
    font-size: 24px;
}
.page-template-doctors-php .featured-title, .page-template-doctors-php .featured-subtitle {
    text-align: left;
}
.page-template-doctors-php #featured .call-to-action {
    position: relative;
    display: block;
    clear: both;
    float: none;
    left: auto;
    bottom: auto;
    text-align: right;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}
.page-template-doctors-php .sub {
    margin-top: 0;
    padding-top: 0;
}
.page.page-template-doctors-php .widget-wrapper {
    padding-left: 0;
    @include box-sizing(border-box);
}
$button-padding-top: pxtoem(4px,18px);

#featured .call-to-action a.button {
	padding: (0.4em + $button-padding-top) 1.5em 0.4em 1em;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
}
#featured .call-to-action a.button .arrow svg, #featured .call-to-action a.button .arrow img {
    width: 18px;
    height: 18px;
    line-height: 18px;
}
h2 {
    font-size: 1em;
    color:$dark-blue;
}
.home #widgets h2, .page-template-doctors-php #widgets h2 {
    font-size: 24px;
    text-align: left;
}
.home #widgets .get-started h2, .page-template-doctors-php #widgets .get-started h2 {
    font-size: 22px;
    text-align: center;
}
.home #widgets p, .page-template-doctors-php #widgets p {
    margin-top:0;
    text-align: left;
}
.get-started h3 {
    font-size:11px;
}
.get-started {
    background: $light-gray url('img/bg-fold-large.png') 0 0 no-repeat;
    border: 1px solid #dcdcdc;
    padding:38px 0 20px;
    margin: 22px 0;
    position:relative;
    overflow:auto;
}
.find-doctor {
    padding:0 0 0 40px;
    margin:0 auto;
}
.get-started .form-header, .get-started .form-wrapper {
    float:right;
    text-align:center;
    margin-top:12px;
}
.get-started.locator .form-header {
    width: 302px;
}
.get-started .form-wrapper {
    width: 390px;
}
.form-header {
    float:right;
    right:0;
    min-width: 302px;
}
.home #widgets .get-started h2, .page-template-doctors-php #widgets .get-started h2 {
    font-size: 35px;
}
.page-template-doctors-php #widgets .get-started h2 {
    padding-top: 20px;
}
.home #widgets .get-started h3 {
    font-size: 22px;
    width:130px;
    margin:0 auto;
    line-height: 1.25em;
}
.page-template-doctors-php #widgets .get-started h3 {
    font-size: 22px;
    width:200px;
    margin:0 auto;
    line-height: 1.25em;
}
.get-started .form-wrapper .find-doctor {
}
.find-doctor .text-input {
    font-size: 20px;
    line-height:40px;
    vertical-align: middle;
    overflow:hidden;
    padding:3px;
}
.find-doctor label {
    font-size: 20px;
    line-height:40px;
    height:40px;
    width:24.5%;
}
.find-doctor {
	.text-input.country label, .text-input.postal label, .text-input.city label {
		vertical-align: top;
	}
}

.find-doctor input[type=text] {
    font-size: 10px;
    line-height:40px;
    height:40px;
    width:75.5%;
}
.home, .page-template-doctors-php {
	.find-doctor span.customSelect {
        width: 75.5%;
        margin-top: 0px;
        line-height:40px;
        height: 40px;
        vertical-align: top;
    }
}
.find-doctor .or {
    font-size: 20px;
    line-height:10px;
    padding-bottom:10px;
}
#widgets .the-product .call-to-action a.button {
	svg, img {
	margin-top: -2px;
	}
}
.home #widgets, .page-template-doctors-php #widgets {
    padding:0 34px;
}
.home #widgets p, .page-template-doctors-php #widgets p {
    font-size: 16px;
}
#widgets a.button {
    font-size: 23px;
    line-height:23px;
}
#widgets a.button {
    svg, img {
    width: 26px;
    height: 26px;
    line-height:1em;
    vertical-align: middle;
}

}
#widgets .call-to-action {
    line-height:14px;
    margin-top:40px;
}
.page-template-doctors-php #widgets .form-header .call-to-action {
    margin-top: 25px;
}
.ortho-accel-logo {
    width: 154px;
    height: 47px;
}
#footer .social-icons {
    text-align:left;
    margin:10px 0 25px 44px;
}
ul.social-icons li {
    margin: 0 0 0 18px;
    font-size: 21px;
    text-align: center;
    vertical-align: top;
}
ul.social-icons li a {
    width:61px;
    height:61px;
    margin-bottom:.5em;
}
.social-icons li a.social-icons-youtube {
    background-position: 0 0;
}
.social-icons li a.social-icons-facebook {
    background-position: 0 -220px;
}
.social-icons li a.social-icons-blog {
    background-position: 0 -61px;
}
#footer {
    padding: 20px 0 0 0;
    margin:20px 0 0;
}
#footer-wrapper .col-220 {
    width: $col-460;
    margin:0;
}
.copyright {
    margin: 0 0 0 0;
    padding: .5em 0;
}
#footer .find-us {
    text-align:left;
    color:#0070B0;
}
#footer .col-220:first-child {
}
#footer .col-220 .padding {
    padding:0 35px;
}
.footer-list {
    padding: 0;
    margin:0;
    float:none;
}
.footer-list li {
    padding: 0;
    line-height: 60px;
    max-width: 100%;
}
#footer .list-title {
    color: #fff;
    line-height: 40px;
    max-width:100%;
    background: $light-blue;
    text-transform: uppercase;
    text-align: left;
    padding: 0 35px;
    vertical-align: middle;
}
.social {
    padding: 0 0 0 36px;
}
.home-widgets .textwidget .blurb {
    padding-top:0;
}
.home-widgets .textwidget .blurb h2:first-child {
    margin-top:0;
}
.ortho-accel-logo {
    width: 247px;
    height: 80px;
    margin-left: 28px;
    margin-top:10px;
}
.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860, .col-776 {
    display: inline;
    margin-right: 2.127659574468%;
}
.col-60 {
    width: $col-60;
}
.col-140 {
    width: $col-140;
}
.col-220 {
    width: $col-220;
}
.col-300 {
    width: $col-300;
}
.col-380 {
    width: $col-380;
}
.col-460 {
    width: $col-460;
}
.col-540 {
    width: $col-540;
}
.col-620 {
    width: $col-620;
}
.col-700 {
    width: $col-700;
}
.col-780 {
    width: $col-780;
}
.col-860 {
    width: $col-860;
}
.col-940 {
    width: 100%;
}
#featured .hero-copy {
    padding: 0;
    margin: 50px 0 0 30px;
    bottom: 10px;
}
#home-left.col-300 {
    width: $col-460;
}
#home-middle.col-300 {
    width: $col-460;
    margin-left: 0;
    margin-right: 0;
    margin:0;
}
#home-middle.col-300 img {
    margin:0 0 10px 60px;
    padding:0;
    vertical-align: top;
    margin-top: -10px;
}
#home-right.col-300 {
    width: 100%;
    margin-bottom: 5px;
}
#home-left, #home-right, #home-middle {
    text-align: left;
}
.hide-768 {
    display: none;
}
.show-768 {
    display: block;
}
.call-to-action .show-768 {
    display: inline;
}
$col776width: percentage(408 / 768);
 $col776padding: percentage(24 / 768);
 $tabletpadding: 0 percentage(28 / 768);
 .col-776 {
    @include box-sizing(border-box);
    width: $col776width;
    margin:0;
    padding: 0 $col776padding 0 0;
    vertical-align: top;
}
.col-776 {
    background: $dotted-vert;
}
.widget-wrapper {
    margin-top: 25px;
}
.page .widget-wrapper {
    margin-top: 0;
    max-width: 328px;
    padding-left: 28px;
    @include box-sizing(border-box);
}
.page #widgets {
}
.page #widgets .widget-title {
    margin: 0 0 10px;
}
#widgets.col-300 {
    @include box-sizing(border-box);
    width: percentage(360 / 768);
}
.page #widgets.col-300 {
    padding: 0;
}
#content {
    font-size: 13px;
    display: table-cell;
    float:none;
}
#widgets {
    display: table-cell;
    float:none;
}
.content-wrapper {
    padding: 30px 28px;
}
.page-template-sales-rep-locator-php .content-wrapper {
    padding: 30px 28px; 
}

.testimonial {
    background: $light-gray !important;
    border: 1px solid #d9d9d9;
    color: $dark-blue;
    padding: 30px;
    margin:0 97px 22px 0;
    margin-right: 0;
}
.testimonial p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-align: left;
}
.testimonial h3 {
    margin: 0 0 .5em;
    text-align: left;
    color: #68676c;
    font-size: 18px;
}
.testimonial img {
    margin: 0 15px 0 0;
}
.testimonial img.alignleft {
    margin: 0 15px 10px 0;
    width: 115px;
    height: 115px;
    border: 0;
    outline: 0;
    float: left;
}
.testimonial {
    margin-right: 0;
}
.breadcrumb-list {
    padding: $tabletpadding;
    font-size: 12px;
}
h1.post-title {
    padding: $tabletpadding;
    font-size: 14px;
    line-height: 14px;
}
.title-wrapper {
    margin-top: 0;
    margin-bottom: 0;
}
.content-wrapper .post-entry h2 {
    font-size: 20px;
}
.post-entry {
    margin-top: 0;
    padding-top: 0;
}
.post-entry p {
}
.page .post-entry {
    background: none;
}
.page h2:first-child {
    margin-top: 0;
}
.widget-title {
    font-size: 18px;
    margin:0;
    text-align: left;
}
.post-wrapper {
    display: table;
    &:not(:last-of-type) {
        background: $dotted-horiz;
    }
    margin-bottom: 27px;
    padding-bottom: 30px;
}
.thumbnail-wrapper {
    display: table-cell;
    vertical-align: top;
    padding-right: 16px;
}
.thumbnail-wrapper img {
	padding: 14px;
}
.thumbnail-wrapper img.wp-post-image, .thumbnail-wrapper img.attachment-full, .thumbnail-wrapper img.attachment-large, .thumbnail-wrapper img.attachment-medium, .thumbnail-wrapper img.attachment-thumbnail {
    margin-top: 0;
    max-width: 223px;
}

.post-wrapper .post {
    display: table-cell;
    vertical-align: top;
}
#widgets.col-140 {
    @include box-sizing(border-box);
}
#widgets {
    padding: 0 11px;
    display: table-cell;
    float: none;
    vertical-align: top;
}
#widgets ul li {
    font-size: 12px;
    padding-left: 0;
}
.archive, .single, .search {
	.col-776 {
		width: 550px;
	    @include box-sizing(border-box);
	    display: table-cell;
	    float: none;
	    padding-right: 12px;
	    background: $dotted-vert;
	}
	.widget-wrapper {
    	margin-top:0;
	}
	#widgets {
		min-width: 154px;
	}
	#widgets .widget-title {
		font-size: 13px;
		margin: 0;
	}
	.wp-caption.alignnone {
    width: 223px;
    padding: 12px;
    }
}

.post-wrapper .post-entry {
    background: none;
    margin-bottom: 0;
    position: relative;
}
.post-entry p {
    font-size: 12px;
}
h2.post-title, .post-meta {
    font-size: 14px;
}
.post-wrapper h2.post-title {
    margin-top: 0;
    text-transform: uppercase;
}
.comments-link a, .read-more {
    font-size: 18px;
}
.post-wrapper .read-more {
    vertical-align: bottom;
}
#widgets ul, #widgets ol {
    margin: 0;
}
#widgets ul li {
    padding: 4px 11px;
    line-height: 1.25em;
}
#widgets ul li a {
    background: url('img/category-arrow-small.png') 0 center no-repeat;
    padding: 0 0 0 9px;
}
#widgets ul li.current-cat a, #widgets ul li a:hover {
    color: $dark-blue;
    background: url('img/category-arrow-small-hover.png') 0 center no-repeat;
}
.home #widgets #home-left h2, .page-template-doctors-php #widgets #home-left h2 {
    font-size: 24px;
    margin-bottom: .75em;
}
.doctors-product {
    padding-left: 20px;
    @include box-sizing(border-box);
}
.doctors-product .product-wrapper {
    border: 1px solid #d7d7d7;
    min-height: 352px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    max-width:300px;
    @include box-sizing(border-box);
    color: $dark-blue;
}
.home #widgets #home-left h2, .page-template-doctors-php #widgets h2 {
    text-align: left;
}
.page-template-doctor-locator-php .post-entry p, .page-template-sales-rep-locator-php .post-entry p {
    font-size: 14px;
}
.get-started.locator .form-header p {
    padding: 0 2em;
}
.get-started.locator .find-doctor span.customSelect {
    width: 70%;
}

.map-wrapper {
    float:right;
    width: percentage(383 / 712);
    margin-left:20px;
}
#map_canvas {
    height: 352px;
}
#results_listing {
    width: percentage(300 / 712);
    margin-bottom:30px;
}
#results_listing ul {
    padding: 0 18px 0 0;
    background: transparent $dotted-vert;
}
#results_listing ul li {
    font-size: 12px;
    line-height: 1.25;
    background: $light-gray;
    padding: 10px 10px 10px 40px;
    &:not(:last-of-type) {
        background: $light-gray $dotted-horiz;
    }
}
#results_listing ul h3 a {
    font-size: 12px;
}
.results_specialty {
    float: right;
}
.results_address {
    padding-right: 10px;
}
.page-template-sales-rep-locator-php {
	.form-wrapper {
		border-bottom: 0;
	}
	.get-started h2 {
	font-size: 26px;
	}
	.get-started p {
		font-size: 14px;
		padding: 0 2em;
	}
	#results_listing {
		width: 100%;
		h2 {
			text-align: left;
		}
		ul {
			width: 100%;
		}
		ul li {
			background: none;
			max-width: 100%;
		}
		.avatar {
			padding: 14px;
			width: 114px;
		}
		.avatar, .results-info {
			display: table-cell;
		}
		.results-info {
			max-width: 100%;
			vertical-align: bottom;
			text-align: left;
			padding-left: 40px;
		}
		.avatar img {
			width: 116px;
		}
	}
}

/* Board of Directors page */

.post-entry .avatar.alignleft {
	
	background: #f9f9f9;
	border: 1px solid #cccccc;
	max-width: 96%;
	text-align: center;
	
	clear: right;
	float: left;
	overflow: hidden;
	margin: 0 2em 1em 0;
	display: block;
	padding: 12px;
	width: 116px;
	height: auto;
}

.board-member {
	overflow: hidden;
}

.page-template-asset-library-page-php {
	.widget-wrapper {
		padding-left: 0;
	}
	.doctors-product {
		padding-left: 0;
	}
	#widgets {
		padding: 0 0;
	}
	.home-widgets p {
		width: auto;
		color: $dark-blue;
		line-height: 1;
		margin-top: 0;
		font-size: 13px;
	}
	.doctors-product .product-wrapper {
		min-height: auto;
	}
	#widgets .call-to-action a.button {
		font-size: 14px;
	}
	#widgets .the-product .doctors-widget-copy {
		overflow: auto;
	}
	#widgets .call-to-action a.button .arrow svg, #featured .call-to-action a.button .arrow img, #widgets .call-to-action a.button .arrow img {
		width: 15px;
		height: 15px;
		vertical-align: middle;
		padding-top: 3px;
	}
	#widgets .the-product .call-to-action a {
		padding: 0.2em 1.5em 0.2em 1em;
	    line-height: 18px;
	    vertical-align: middle;
	    overflow: auto;
    }
    #widgets .the-product .call-to-action {
    }
    .content-wrapper .post-entry {
	    padding: 0 0 0 0;
    }
}

