
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:auto;
    overflow-x: hidden;
}
body {
    background: url('img/bg-grid.png') 0 100% no-repeat;
}
/*
    body.parent-pageid-16284 {
		background: url('img/patient-experience.jpg') 0 0 no-repeat;
	}
	body.page-template-doctors-php {
	    background: url('img/doctors-980.jpg') 0 0 no-repeat;
    }*/
 .page.page-template-doctors-php .home-right .widget-wrapper, .page.page-template-doctors-php .home-left .widget-wrapper {
    max-width: 100%;
} 
#container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0px;
    min-height: 100%;
}
.content-wrapper {
    padding: 0;
}
.page .content-wrapper {
    padding: 30px 0;
}
#header {
    max-width:$desktop-width;
    margin:0 auto;
    height:222px;
}
#wrapper, .home #wrapper {
}
#header form#location {
    padding: 0 0 20px;
}
.top-menu {
    padding-bottom: 30px;
    padding-right:0;
}
.top-menu li:first-child a, .top-menu li.current-page-ancestor a, .top-menu li.current_page_item a {
    padding-bottom:4px;
}
.hero-wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    height: 345px;
}
.drawer {
    top: 178px;
}
.drawer.doctors-drawer {
    top: 158px;
}
#featured .call-to-action a.button {
    font-size: 18px;
}
#featured .hero-copy {
    width: 280px;
    bottom: 17px;
    margin: 50px 0 0 0;
}
#footer-wrapper {
    margin: 0 auto;
    max-width: $desktop-width;
    padding: 0px;
}
#footer-wrapper .col-220 {
    width: $col-220;
}
.home-widgets {
    max-width:960px;
    margin:0 auto;
}
.home #widgets, .page-template-doctors-php #widgets {
    float: none;
    display: block;
}
.home #widgets h2, .page-template-doctors-php #widgets h2 {
    font-size: 28px;
    font-weight: normal;
}
#home-right.col-300, #home-left.col-300, #home-middle.col-300 {
    width: $col-300;
    margin-right: 2.127659574468%;
    margin-bottom: 2.127659574468%;
}
#home-middle.col-300 img {
    margin: 0 0 0 0;
}
.grid, .grid-right {
    float: left;
}
#logo {
    margin: 53px 0 0 23px;
    width: 250px;
    height: 57px;
}
#logo img {
    width: 250px;
    height: 57px;
}
#featured .call-to-action {
    bottom: 10px;
    left:300px;
}
#featured {
	background-position: center 0;
    background-size: auto auto;
    min-height: 345px;
    width: 100%;
    margin-bottom: 50px;
}
.page-template-doctors-php #featured {
    margin-top: 0;
    background-position: center 0;
    background-size: auto auto;
    
}
#featured-image .fluid-width-video-wrapper {
    margin: 20px 0 0 0;
}
.featured-title {
    font-size: 40px;
    line-height: 1;
    letter-spacing: .5px;
    font-family:'DINNextW01-CondensedReg', 'Arial Narrow', Arial, Helvetica, sans-serif;
}
.featured-subtitle {
    font-size:20px;
}
.page-template-doctors-php #featured .hero-copy {
    width: auto;
    text-align: right;
    margin: 0;
    bottom: 16px;
    margin-left: 40px;
}
.page-template-doctors-php .featured-title {
    font-size: 45px;
    line-height: 1;
}
.page-template-doctors-php .featured-title, .page-template-doctors-php .featured-subtitle {
    text-align: right;
}
.page-template-doctors-php .home-widgets .textwidget .blurb {
    padding-top: 28px;
}
.home #widgets .get-started h3, .page-template-doctors-php .get-started h3 {
    width: auto;
}
.page-template-doctors-php #widgets .get-started h3 {
    margin-bottom: 1em;
    width: auto;
}
.page-template-doctors-php .get-started .form-wrapper {
    padding-bottom: 9px;
}
.top-widget, .home .top-widget {
    margin-top: 0 !important;
}
.top-menu li a {
    font-size:16px;
}
#nav ul li a {
    font-size: 20px;
    padding: 0 .5em;
}
.ortho-accel-logo {
    width: 247px;
    height: 80px;
    margin-right: 35px;
}
.top-menu {
    padding-right: 24px;
}
#header .social {
    display: table-cell;
    padding: 0 0 5px 15px;
    margin: 0;
    vertical-align: bottom;
}
#header ul.social-icons li {
    margin: 40px 0 0 11px;
}
#header .social .social-icons {
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}
.social ul.social-icons li a {
    width: 28px;
    height: 28px;
}
.social .social-icons li a.social-icons-youtube {
    background-position: 0 -212px;
}
.social .social-icons li a.social-icons-facebook {
    background-position: 0 -241px;
}
.social .social-icons li a.social-icons-blog {
    background-position: 0 -183px;
}
#footer .social {
    padding: 0;
}
.menu-form {
    padding-right:33px;
    padding-top: 20px;
}
.home #widgets h2:first-child, .page-template-doctors-php #widgets h2:first-child {
    margin-top: 0;
}
.home-widgets p {
    font-size: 16px;
    color: #68676c;
    width: 280px;
}
.get-started {
    margin: 22px 0;
    background: $light-gray url('img/bg-fold-large.png') 0 0 no-repeat;
    /*background: transparent url('img/dev/bg-doctor-locator.jpg') 0 0 no-repeat;*/
    padding-top:0;
}
.home, .page-template-doctors-php {
	 .get-started {
		 margin-top: 0;
	 }
}
.get-started .widget-wrapper {
	margin: 0 0 0;
}
.page-template-doctors-php .get-started {
    margin-top: 0;
    padding-bottom: 0;
}
.page-template-doctors-php .get-started .form-header {
    margin-bottom: 0;
}

.get-started .form-wrapper {
    width: auto;
    float: none;
    padding: 0 20px;
}
.get-started .form-header {
    margin-bottom: 1.5em;
}
#content, #widgets {
    display: inline;
    float: left;
}
#content {
    font-size: 16px;
}
.home #widgets .get-started h2, .page-template-doctors-php .get-started h2 {
    font-size: 32px;
}
.home #widgets .get-started h3, .page-template-doctors-php #widgets .get-started h3 {
    font-size: 17px;
}
.find-doctor {
    padding: 0;
}
.find-doctor .form-header {
}
.find-doctor .text-input:first-child {
    margin-bottom:10px;
}
.find-doctor .text-input {
    font-size: 15px;
    line-height:30px;
    margin-bottom: 0px;
}
.find-doctor label {
    font-size: 15px;
    line-height: 30px;
    width: 25%;
    height:auto;
    vertical-align: top;
}
.find-doctor {
	.text-input.country label, .text-input.postal label, .text-input.city label {
		font-size: 12px;
		min-height: 15px;
	}
}

.find-doctor input[type=text] {
    font-size: 15px;
    margin-top:0px;
    line-height: 30px;
    height: 30px;
    width: 75%;
    vertical-align: top;
}
.home, .page-template-doctors-php {
	.find-doctor span.customSelect {
        width: 75%;
        vertical-align: top;
        line-height: 30px;
        height: 30px;
        margin-top: 0px;
    }
    .find-doctor .text-input {
	    margin-bottom: 5px;
    }
}

.find-doctor .or {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
#featured .call-to-action a.button, #widgets #widgets .call-to-action a.button {
    line-height:20px;
}
#featured .call-to-action a.button .arrow svg, #widgets .call-to-action a.button .arrow svg, #featured .call-to-action a.button .arrow img, #widgets .call-to-action a.button .arrow img {
    width:20px;
    height:20px;
}
#widgets .call-to-action {
    margin-top: 10px;
}
#widgets .call-to-action a.button {
    line-height:20px;
    font-size: 18px;
    vertical-align: middle;
}
#footer {
	font-size: 14px;
}
#footer .social-icons {
    text-align:left;
    margin-left: 60px;
}
ul.social-icons li {
    margin: 0 0 0 9px;
    font-size: 10px;
}
ul.social-icons li a {
    width:26px;
    height:26px;
}
.social .social-icons li a.social-icons-youtube {
    background-position: 0 -359px;
}
.social .social-icons li a.social-icons-facebook {
    background-position: 0 -388px;
}
.social .social-icons li a.social-icons-blog {
    background-position: 0 -281px;
}
#footer .col-220 .padding {
    padding: 0 0 0 60px;
}
#footer .list-title {
    width: auto;
    background: transparent;
    color: $dark-blue;
    text-transform: none;
    padding: 0 0 0 60px;
    font-size: 1em;
    line-height: 1;
}
#footer .list-title.hide-980 {
    display: none;
}
.footer-list {
    padding: 0;
    font-weight: normal;
    font-size: 1em;
}
.footer-list.secondary {
    margin-top:1em;
}
#menu-footer-menu li {
    border: none;
}
.footer-list li {
    padding: 0 0;
    border: 0;
    line-height: 1.5em;
    font-size: 1em;
}
.footer-list.secondary li:not(:last-of-type) {
    border-bottom: none;
}
#footer .find-us {
    margin-left:60px;
    font-size: 1em;
}
.ortho-accel-logo {
    margin-left: 60px;
}
.hide-980 {
    display: none;
}
.show-980 {
    display: block;
}
.copyright ul {
    margin: 0 auto;
}
.copyright ul li.city {
    clear:both;
}
.copyright ul li.phone {
    border-left:0;
}
.numbers {
    clear:both;
    overflow:auto;
    display:block;
}
.archive, .single, .search {
	.content-wrapper {
    display: table;
    padding-top: 33px;
    }
}
.content-wrapper .post-entry {
    padding: 0 0 0 143px;
}
.page-template-doctor-locator-php, .page-template-full-width-page-php, .page-template-sales-rep-locator-php  {
	.content-wrapper .post-entry {
		padding: 0 143px;
	}
    
}
.content-wrapper .post-wrapper .post-entry {
    padding: 0;
}
.post-wrapper {
	padding-bottom: 0;
}
.col-776 {
    width: percentage(750 / 1250);
    padding: 0;
    background: none;
}
.archive, .single, .search  {
    .col-776 {
    width: 750px;
    margin-right: 0;
    margin: 0;
    background: none;
    float:none;
    background: $dotted-vert;
    }
}
.archive, .single, .search {
	 #widgets {
    width: 212px;
    }
}
.page, .search {
	#widgets.col-300 {
    width: 300px;
    padding: 0 10px 0 22px;
    }
} 
.testimonial {
    background: $light-gray;
    border: 1px solid #d9d9d9;
    color: $dark-blue;
    padding: 30px;
    margin:0 97px 22px 0;
    width: 100%;
}
.testimonial p {
    padding: 0;
    margin: 0;
}
.testimonial img {
    margin: 0 15px 0 0;
}
.testimonial {
    margin-right: 0;
}
.content-wrapper .post-entry h2 {
    font-size: 28px;
}
.breadcrumb-wrapper {
    margin: 0 auto;
    max-width: $desktop-width;
}
.title-wrapper {
	
}
.title-inner {
    margin: 0 auto;
    max-width: $desktop-width;
}
.breadcrumb-list {
    width: $col776width;
    margin: 0 0 0 30px;
    @media screen and (min-width: 1250px) {
    margin: 0 0 0 143px;
    }
    padding: 0;
}
h1.post-title {
    padding: 0;
    font-size: 18px;
    width: $col776width;
    margin: 0 0 0 30px;
    @media screen and (min-width: 1250px) {
    margin: 0 0 0 143px;
    }
}
.widget-title {
    margin: 0 0 12px 0;
}
.post-wrapper h2.post-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 18px;
}
h2.post-title, .post-meta {
    font-size: 18px;
}
.post-entry p {
    font-size: 16px;
}
.comments-link a {
    font-size: 13px;
}

.archive, .single, .search { 
	.wp-caption.alignnone {
    width: 300px;
    }
}
.archive, .single, .search  {
	#widgets .widget-title {
    font-size: 18px;
    padding-left: 12px;
    }
}
#widgets ul li {
    font-size: 16px;
    padding: 4px 22px;
}
#widgets ul li a {
    padding: 4px 11px;
}
.thumbnail-wrapper {
}
.thumbnail-wrapper img {
    max-width: 300px;
    padding: 12px;
}
.single #content {
    display: table-cell;
    float: none;
    padding-right: 2em;
}
.page.page-template-doctors-php .home-widgets p, .page.page-template-doctors-php .home-left .widget-wrapper p {
    width: 100%;
}
.page.page-template-doctors-php .doctors-product {
    width: $col-300;
    padding: 0;
}
.page.page-template-doctors-php .doctors-product.fit {
    margin-right: 2.127659574468% !important;
}
.page.page-template-doctors-php #widgets .the-product .call-to-action {
    padding-top: .25em;
}
.page.page-template-doctors-php .home-right .widget-wrapper, .page.page-template-doctors-php .home-left .widget-wrapper {
    margin-bottom: 45px;
}

.home #widgets #home-left h2, .page-template-doctors-php #widgets h2 {
}
.page-template-doctors-php #widgets .get-started h2 {
	margin-bottom: 5px;
}
.get-started .form-header, .get-started .form-wrapper {
    float: none;
}
.get-started.locator .form-wrapper {

    padding: 0 0 0 0;
    margin-top: 0;

}
.get-started.locator {
	padding: 0 percentage(40 / 964);
@media screen and (min-width: 1025px) {
    padding: 0 percentage(99 / 964) 25px;
}
    position: relative;
}
.find-doctor span.customSelect {
    line-height: 30px;
    height: 30px;
}
@mixin hackright {
		right: percentage(40 / 964);
	@media screen and (min-width: 1025px) {
	    right: percentage(99 / 964);
	}
}
.right-col, .left-col {
	min-width: 320px;
	margin-bottom: 0;
	float: left;
}
.left-col {
	padding-right: 20px;
}
.right-col {
	@media screen and (min-width: 1200px) {
	padding-left: 60px;
	}
}
.get-started.locator .text-input.text_radius {
    /*position: absolute;
    @include hackright;
    top: 82px;*/
    min-width: 320px;
}

.get-started.locator .searchbutton {
	float:right;
}
.get-started.locator .find-doctor .text-input {
    &:not(.text_state) {
        margin-bottom: 5px;
        margin-top: 0;
    }
}

.buttons {
	text-align: right;
}
.buttons a.location {
	text-transform: uppercase;
	padding: (0.2em + $small-button-padding-top) 0 (0.2em + $small-button-padding-bottom) 0;
	font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    margin: 0 1em 0 0;
    display: inline;
}

.get-started.locator .find-doctor .searchbutton {
    /*position: absolute;
    right: 0;
    bottom: 20px;
    @include hackright;*/
    font-size: 16px;
    line-height: 20px;
    img, svg {
	    width: 20px;
	    height: 20px;
    }
}
.map-wrapper {
    float:right;
    width: percentage(550 / 964);
}
#map_canvas {
    height: 316px;
}
#results_listing {
    width: percentage(386 / 964);
    margin-bottom:30px;
    padding: 0;
}
#results_listing h2 {
    font-size: 18px;
    text-align: left;
}
.results_directions {
    float:left;
}
.results_specialty {
    float:right;
    margin-left:20px;
}
#results_listing ul h3 {
    /*background: url('img/map-pointer.png') 12px 28px no-repeat;*/
    &:before {
        top: 20px;
    }
}



.get-started.locator .form-header {
	width: auto;
	text-align: left;
	padding-left: 0;
	margin-bottom: 10px;
}

.page-template-sales-rep-locator-php {
	.get-started.locator .form-wrapper {
	    width: auto;
	    padding: 0 0;
	    margin-top: 0px;
	}
	.get-started.locator {
		padding: 0 0 0 percentage(40 / 964);
	@media screen and (min-width: 1025px) {
	    padding: 0 percentage(99 / 964);
	}
	    position: relative;
	}
	.find-doctor span.customSelect {
	    line-height: 30px;
	    height: 30px;
	}
	@mixin hackright {
			right: percentage(40 / 964);
		@media screen and (min-width: 1025px) {
		    right: percentage(99 / 964);
		}
	}
	.get-started.locator .text-input.text_radius {
	    position: absolute;
	    @include hackright;
	    top: 82px;
	    min-width: 320px;
	}
	.get-started.locator .find-doctor .text-input {
	    &:not(.text_state) {
	        margin-bottom: 19px;
	    }
	}
	.get-started.locator .searchbutton {
		float: none;
	}
	/*.get-started.locator .find-doctor .searchbutton {
	    position: absolute;
	    right: 0;
	    bottom: 20px;
	    @include hackright;
	    font-size: 16px;
	}*/
	
	.get-started {
		overflow-x: hidden;
	}
	.get-started .form-header p {
		padding: 0 0 0;
		width: auto;
		display: block;
	}
	.get-started.locator .form-header {
		float: left;
		text-align: left;
		padding: 0 0 0 0;
	}
	.form-wrapper {
		float: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		@include box-sizing(border-box);
	}
	.get-started .searchbutton {
		font-size: 16px;
		
	}
	.left-col {
		padding-right: 20px;
		text-align: left;
		@include box-sizing(border-box);
	}
	.right-col {
		padding-left: 0;
		min-width: auto;
	}
	.buttons {
		padding: 0 0 0 0;
		margin: 0;
		text-align: left;
		@include box-sizing(border-box);
	}
	#locator {
		display: block;
	}
}
.fluid-width-video-wrapper iframe {
	width: auto !important;
	position: relative !important;
	width: auto !important;
}
.page-template-asset-library-page-php {
	.content-wrapper .post-entry {
    	padding: 0 0 0 143px;
    }
}

@media screen and (min-width: 1025px) {

#SnapABug_Button {
	display: block !important;
}

}

