/*
	body.parent-pageid-16284 {
	background: url('img/480-patient.jpg') 0 0 no-repeat;
	}*/
	/*body.archive {
	background: url('img/480-blog.png') 0 0 no-repeat;
	}
	body.page-template-doctors-php {
	    background: url('img/doctors-480.jpg') 0 0 no-repeat;
}*/
#widgets .the-product .call-to-action a.button svg {
}

.content-wrapper {
	padding: 0 40px;
}
#menu-button {
	position:absolute;
	right:32px;
	top:0px;
	display:block;
}
#header form#location {
	margin:13px 65px;
	padding:0;
}
#featured {
}
body {}
.page #wrapper {
	padding-top: 10px;
}
.title-wrapper {
    margin-top: 15px;
}
h1.post-title {
    line-height: 40px;
}
h2.post-title {
    font-size: 24px;
}
.post-meta {
    font-size: 24px;
}
.comments-link a {
    font-size: 24px;
}
#logo {
    float: none;
    text-align: left;
    margin:28px 0 61px 41px;
    width:251px;
    height:57px;
}
#logo img {
	width:251px;
    height:57px;
    
}
.top-menu li a {
	font-size: 30px;
}
#nav ul li a {
	line-height: 30px;
}
#nav ul li a svg, #nav ul li a img {
	width:30px;
	height:30px;
}
.grid, 
.grid-right {
    float: none;
}
#featured {
    margin-bottom: 0;
    background-size: auto 345px;
}
.page-template-doctors-php #featured {
	background-size: auto 345px;
}
#featured-image {
	margin: 40px 0 0 0;
	height:345px;
	margin-bottom: 17px;
	border-bottom: 1px solid #fff;
	display: block;
	float: none;
}
.page-template-doctors-php #featured-image {
	
	height:345px;
	margin-bottom: 17px;
	border-bottom: 1px solid #fff;
	display: block;
	float: none;
}

#featured-image img {
}
#featured-image .fluid-width-video-wrapper {
    margin: 20px 0 0 0;
}

.page-template-doctors-php .featured-title {
    font-size: 42px;
}
.featured-title {
    font-size: 32px;
    line-height:1;
    padding: 10px 30px 0 30px;
}

.featured-subtitle {
    font-size: 18px;
    display:inline;
}
.page-template-doctors-php .featured-subtitle {
    font-size: 29px;
}
.page-template-doctors-php .get-started h3 {
    font-size: 22px;
}
#featured p {
    font-size: 12px;
	display: inline;
	padding: 0;
}
#featured .sub {
	margin:0;
	text-align:center;
}
#featured .call-to-action {
	margin: 0em 0 0 0;
	padding:1em 0 34px;
}
$button-padding-top: pxtoem(5px,30px);

#featured .call-to-action a.button {
	padding: (0.4em + $button-padding-top) 1.5em 0.4em 1em;
	font-size: 30px;
	line-height: 30px;
	vertical-align: middle;
	position: relative;
}
#featured .call-to-action a.button .show-480 {
	display: inline;
}
#featured .call-to-action a.button .arrow svg, #featured .call-to-action a.button .arrow img {
	width: 30px;
	height:30px;
	line-height:30px;
}
.navigation .next,
.navigation .previous {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.menu ul, 
.menu li, 
.top-menu, 
.footer-menu li, 
.sub-header-menu li {
    float: none;
    text-align: center;
    text-rendering: optimizeSpeed;
}
#container {
	padding:0;
}
.hide-480 {
    display: none;
}

.show-480 {
    display: block;
}
#footer {
    text-align: center;
    margin: 0 0 0 0;
}
#footer .social-icons {
    text-align: center;
}
#location span.customSelect {
	font-size:20px;
}
.customSelectInner {
	background-position: 98% center;
}
ul.social-icons li a {
	width:61px;
	height:61px;
}
#footer .about-us {
	 padding-top: 15px;
 }
#footer .about-us a {
 	font-size:26px;
 }
 .drawer { 
	display:none;
}
#footer .col-220 .padding {
	padding:0;
}
.breadcrumb-list {
	font-size: 18px;
}
.find-doctor {
	padding: 20px auto;
}
.find-doctor .text-input {
	margin: 0 0 1em 0;
}
h1.post-title {
	font-size: 28px;
	padding: $mobilepadding;
}
#content {
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 1.5;
}
#widgets .call-to-action {
	margin: 20px 0 0 0;
}
#widgets a.button {
	font-size:30px;
	padding: 0.550em 1.500em;
	line-height: 35px;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'DIN Next W01 Medium', Arial, Helvetica, sans-serif;
	font-weight: normal;
}
#widgets a.button svg, #widgets a.button img {
	width:35px;
	height:35px;
}
.testimonial img.alignleft {
	width: 278px;
	height: 278px;
}
.testimonial p {
	font-size: 17px;
}
.content-wrapper .post-entry h2 {
font-size: 28px;
color: $dark-blue;
}
.widget-title {
	font-size: 28px;
}
.testimonial h3 {
	font-size: 20px;
}
.comments-link {
	margin: 0;
}
.wp-caption {
	padding: 24px;
}
.wp-caption p.wp-caption-text {
	margin: 0;
}
.archive, .single, .search {
	.wp-caption.alignnone {
			margin-bottom: 19px;
	}
}

.wp-caption img {
	max-width: 100%;
}
.read-more {
	font-size: 24px;
	padding-bottom: 1.5em;
}
.post-entry p {
	font-size: 20px;
	line-height: 1.5em;
}
#footer .list-title {
	padding: 10px 40px;
	font-size: 30px;
}
.footer-list li {
	padding: 0 40px;
	font-size: 24px;
}
.home #widgets #home-left h2, .page-template-doctors-php #widgets #home-left h2 {
	font-size: 42px;
	color: $dark-blue;
}
.home #widgets .get-started h2, .page-template-doctors-php #widgets .get-started h2 {
	font-size: 42px;
}
.home #widgets p, .page-template-doctors-php #widgets p {
	font-size: 23px;
	line-height: 1.25em;
}