/*
Theme Name: Responsive 
Theme URI: http://themeid.com/responsive-theme/ 
Description: Responsive Theme is a flexible foundation with fluid grid system that adapts your website to mobile devices and the desktop or any other viewing environment. Theme features 9 Page Templates, 11 Widget Areas, 6 Template Layouts, 4 Menu Positions and more. Powerful but simple Theme Options for full CMS control with easy Logo Upload, Social Networking and Webmaster Tools etc. Responsive is WooCommerce Compatible, Multilingual Ready (WPML), RTL-Language Support, Retina-Ready, Search Engine Friendly, W3C Markup Validated and currently translated into 40 languages. Cross-Browser compatible and yes even the IE7. No paid memberships or clubs to get a FREE/Responsive Support you need. http://themeid.com/help/

Version: 1.8.9.3
Author: ThemeID 
Author URI: http://themeid.com
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, flexible-width, rtl-language-support

License: GNU General Public License v3 or later
License URI: license.txt 

Responsive WordPress Theme, Copyright (C) 2003-2013 Emil Uzelac 

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
	
--------------------------------------------------------------
WARNING: (BEFORE YOU MAKE ANY CHANGES)
--------------------------------------------------------------
Please do not edit style.css or any other Theme files or 
Templates directly. If you do, your customizations will be lost 
as soon as you update Responsive.

WordPress and ThemeID highly recommends Child Theme.

Read More:
 
- http://codex.wordpress.org/Child_Themes  
- http://themeid.com/help/discussion/505/child-theme-example/
- http://themeid.com/help/categories/responsive-documentation

--------------------------------------------------------------
	
CSS Rules: Sorted alphabetically for better organization.


/* =Reset CSS (v2.0) http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */

@import "compass";
@import "compass/css3";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0; 
	font-size: 100%;
	font: inherit;
    margin: 0;
	padding: 0;
	vertical-align: baseline; 
}

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, select, textarea {
	font-size: 100%;
	overflow: visible;
	margin: 0;
	vertical-align: baseline;
	width: auto;
}

textarea {
	overflow: auto;
	vertical-align: text-top;
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
	background: #ddd;
	border: none;
	clear: both;
	color: #ddd;
	float: none;
	height: 1px;
	width: 100%;
}

hr.space {
	background: #fff;
	color: #fff;
}

/* =Base
-------------------------------------------------------------- */
html {
	height: 100%;
}

body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-smoothing: antialiased;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}
/* =Typography
-------------------------------------------------------------- */
p {  
    word-wrap: break-word;
}

i,
em,
dfn,
cite {
	font-style: italic;
}

tt,
var,
pre,
kbd,
samp,
code {
	font-family: monospace, serif;
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

pre {
    -moz-box-sizing: border-box;   
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
	background: #f4f4f4;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
    height: auto;
	margin: 0;
	outline: none;
	padding: 6px 10px;
	vertical-align: middle;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

del {
	color: #555;
	text-decoration: line-through;
}

ins, 
dfn {
	border-bottom: 1px solid #ccc;
}

sup, 
sub,
small {
	font-size: 85%;
}

abbr, 
acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a abbr, 
a acronym {
	border: none;
}

dfn[title],
abbr[title], 
acronym[title] {
	border-bottom: 1px solid #ccc;
	cursor: help;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

/* =Responsive 12 Column Grid
    http://themeid.com/responsive-grid/
-------------------------------------------------------------- */
.grid {
	float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.grid-right {
	float: right;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.col-60, 
.col-140, 
.col-220, 
.col-300, 
.col-380, 
.col-460, 
.col-540, 
.col-620, 
.col-700, 
.col-780, 
.col-860 {
	display: inline;
	margin-right: 2.127659574468%;
}

.col-60 {
	width: 6.382978723404%;
}

.col-140 {
	width: 14.893617021277%;
}

.col-220 {
	width: 23.404255319149%;
}

.col-300 {
	width: 31.914893617021%;
}

.col-380 {
	width: 40.425531914894%;
}

.col-460 {
	width: 48.936170212766%;
}

.col-540 {
	width: 57.446808510638%;
}

.col-620 {
	width: 65.957446808511%;
}

.col-700 {
	width: 74.468085106383%;
}

.col-780 {
	width: 82.978723404255%;
}

.col-860 {
	width: 91.489361702128%;
}

.col-940 {
	width: 100%;
}

.fit {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* =Visibility
-------------------------------------------------------------- */
.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.none {
    display: none;
}

.hide-desktop {
    display: none;
}

.show-desktop {
    display: block;
}

/* =Responsive Images
-------------------------------------------------------------- */
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
	height: auto;
	max-width: 100%;
    vertical-align: middle;
}

.ie8 img {
    height: auto; 
    width: auto\9; 
}

.ie8 img.size-large {
	max-width: 60%;
	width: auto;
}

/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed,
object {
	max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

/* =Links
-------------------------------------------------------------- */
a {
	color: #06c;
	font-weight: 400;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #444;
    outline: 0;
	text-decoration: none;
}

::selection {
	background: #999;
    color: #fff;
	text-shadow: none;
}

/* =Forms
-------------------------------------------------------------- */
label {
	display: inline-block;
	font-weight: 700;
	padding: 2px 0;
}

legend {
	padding: 2px 5px;
}

fieldset {
	border: 1px solid #ccc;
	margin: 0 0 1.5em;
	padding: 1em 2em;
}

select,
input[type="text"], 
input[type="password"] {
    -moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	margin: 0;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	width: 100%;
}

select {
	height: auto;
	width: 100%;
}

area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	height: auto;
	overflow: auto;
	margin: 0;
	outline: none;
	padding: 8px 10px;
	width: 100%;
}

input, 
select {
	cursor: pointer;
}

area:focus,
input:focus, 
textarea:focus {
    border: 1px solid #6cf;
}

input[type='text'], 
input[type='password'] {
	cursor: text;
}

/* =IE Forms
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"], 
.ie7 input[type="password"] {
    width: 96%;
}

/* =Buttons
-------------------------------------------------------------- */
button, 
a.button,
input[type='reset'], 
input[type='button'], 
input[type='submit'] {
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #004a7a;
	@include border-radius(60px);
	color: #333;
	cursor: pointer;
	display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
	font-size: 14px;
	font-weight: 700;
    line-height: 20px;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	vertical-align: middle;
	white-space: nowrap;
}

button:hover, 
a.button:hover,
input[type='reset']:hover, 
input[type='button']:hover, 
input[type='submit']:hover {
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #fff, #f1f1f1);
	background-image: -moz-linear-gradient(top, #fff, #f1f1f1);
	background-image: -ms-linear-gradient(top, #fff, #f1f1f1);
	background-image: -o-linear-gradient(top, #fff, #f1f1f1);
	background-image: linear-gradient(top, #fff, #f1f1f1);
	border: 1px solid #ddd;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	color: #333;
}

button:active, 
a.button:active,
input[type='reset']:active, 
input[type='button']:active, 
input[type='submit']:active {
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
    box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
	text-align: center;
}

.call-to-action a.button {
	font-size: 20px;
	padding: 0.550em 1.500em;
	vertical-align: middle;
	text-transform: uppercase;
	font-family:'DIN Next W01 Medium';
	font-weight:normal;
}
.call-to-action a.button svg {
	vertical-align: middle;
	margin-top:-1px;
	position:absolute;
}
.call-to-action a.button .arrow {
	padding-left: 0.550em;
}
.call-to-action a.button:hover {
	text-decoration: none;
}

.ie7 .call-to-action a.button {
    padding: 11px 35px 19px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
	font-size: 10px;
	padding: 3px 6px;
}

.medium a.button {
	font-size: 16px;
	padding: 8px 16px;
}

.large a.button {
	font-size: 18px;
	padding: 10px 35px;
}

.xlarge a.button {
	font-size: 24px;
	padding: 12px 55px;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
	border: 1px solid #004a7a;
	color: #333;
	@include border-radius(60px);
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #00478d; // Old browsers
	@include filter-gradient(#00478d, #007fc9, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #00478d 0%,#007fc9 100%));
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.blue:hover {
	border: 1px solid #004a7a;
	color: #333;
	@include border-radius(60px);
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #007fc9; // Old browsers
	@include filter-gradient(#007fc9, #00478d, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #007fc9 0%,#00478d 100%));
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.red {
	border: 1px solid #db0a22;
	color: #333;
	@include border-radius(60px);
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #da0523; // Old browsers
	@include filter-gradient(#da0523, #da0523, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #da0523 0%,#da0523 100%));
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.red:hover {
	border: 1px solid #db0a22;
	color: #333;
	@include border-radius(60px);
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #da0523; // Old browsers
	@include filter-gradient(#da0523, #da0523, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #da0523 0%,#da0523 100%));
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.orange {
	background-color: #ff7f00; /* Dark Orange 1 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa5), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #fa5, #ff7f00);
	background-image: -moz-linear-gradient(top, #fa5, #ff7f00);
	background-image: -ms-linear-gradient(top, #fa5, #ff7f00);
	background-image: -o-linear-gradient(top, #fa5, #ff7f00);
	background-image: linear-gradient(top, #fa5, #ff7f00);
	border: 1px solid #bb5d00;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaa55, endColorstr=#ff7f00);
	text-shadow:0 -1px 0 #bb5d00;
}

a.orange:hover {
	background-color: #ffc388;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -moz-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -ms-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -o-linear-gradient(top, #ffc388, #ff7f00);
	background-image: linear-gradient(top, #ffc388, #ff7f00);
	border: 1px solid #bb5d00;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00);
	text-shadow:0 -1px 0 #bb5d00;
}

a.yellow {
	background-color: #ecca06; /* Yellow Gold */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2aa), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -moz-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -ms-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -o-linear-gradient(top, #fff2aa, #ffd700);
	background-image: linear-gradient(top, #fff2aa, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa, endColorstr=#ffd700);
	text-shadow:0 1px 0 #fff;
}

a.yellow:hover {
	background-color: #fffadd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fffadd, #ffd700);
	background-image: -moz-linear-gradient(top, #fffadd, #ffd700);
	background-image: -ms-linear-gradient(top, #fffadd, #ffd700);
	background-image: -o-linear-gradient(top, #fffadd, #ffd700);
	background-image: linear-gradient(top, #fffadd, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd, endColorstr=#ffd700);
	text-shadow:0 1px 0 #fff;
}

a.green {
	background-color: #2e8b57; /* Sea Green 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -moz-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -ms-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -o-linear-gradient(top, #4bc380, #2e8b57);
	background-image: linear-gradient(top, #4bc380, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.green:hover {
	background-color: #71d09b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -moz-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -ms-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -o-linear-gradient(top, #71d09b, #2e8b57);
	background-image: linear-gradient(top, #71d09b, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.olive {
	background-color: #838b83; /* Honey Dew 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e000), to(#838b83));
	background-image: -webkit-linear-gradient(top, #afb4af, #838b83);
	background-image: -moz-linear-gradient(top, #afb4af, #838b83);
	background-image: -ms-linear-gradient(top, #afb4af, #838b83);
	background-image: -o-linear-gradient(top, #afb4af, #838b83);
	background-image: linear-gradient(top, #afb4af, #838b83);
	border: 1px solid #626862;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.olive:hover {
	background-color: #c9cdc9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cdc9), to(#838b83));
	background-image: -webkit-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -moz-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -ms-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -o-linear-gradient(top, #c9cdc9, #838b83);
	background-image: linear-gradient(top, #c9cdc9, #838b83);
	border: 1px solid #626862;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.purple {
	background-color: #5d478b; /* Medium Purple 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8771b6), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #8771b6, #5d478b);
	background-image: -moz-linear-gradient(top, #8771b6, #5d478b);
	background-image: -ms-linear-gradient(top, #8771b6, #5d478b);
	background-image: -o-linear-gradient(top, #8771b6, #5d478b);
	background-image: linear-gradient(top, #8771b6, #5d478b);
	border: 1px solid #3f305e;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.purple:hover {
	background-color: #a492c8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a492c8), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #a492c8, #5d478b);
	background-image: -moz-linear-gradient(top, #a492c8, #5d478b);
	background-image: -ms-linear-gradient(top, #a492c8, #5d478b);
	background-image: -o-linear-gradient(top, #a492c8, #5d478b);
	background-image: linear-gradient(top, #a492c8, #5d478b);
	border: 1px solid #3f305e;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.pink {
	background-color: #cd1076; /* Deep Pink 3 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f042a0), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f042a0, #cd1076);
	background-image: -moz-linear-gradient(top, #f042a0, #cd1076);
	background-image: -ms-linear-gradient(top, #f042a0, #cd1076);
	background-image: -o-linear-gradient(top, #f042a0, #cd1076);
	background-image: linear-gradient(top, #f042a0, #cd1076);
	border: 1px solid #8e0b52;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.pink:hover {
	background-color: #f471b8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f471b8), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f471b8, #cd1076);
	background-image: -moz-linear-gradient(top, #f471b8, #cd1076);
	background-image: -ms-linear-gradient(top, #f471b8, #cd1076);
	background-image: -o-linear-gradient(top, #f471b8, #cd1076);
	background-image: linear-gradient(top, #f471b8, #cd1076);
	border: 1px solid #8e0b52;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.brick {
	background-color: #b22222; /* Fire Brick */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4c4c), to(#b22222));
	background-image: -webkit-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -moz-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -ms-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -o-linear-gradient(top, #dd4c4c, #b22222);
	background-image: linear-gradient(top, #dd4c4c, #b22222);
	border: 1px solid #791717;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.brick:hover {
	background-color: #e57777;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e57777), to(#b22222));
	background-image: -webkit-linear-gradient(top, #e57777, #b22222);
	background-image: -moz-linear-gradient(top, #e57777, #b22222);
	background-image: -ms-linear-gradient(top, #e57777, #b22222);
	background-image: -o-linear-gradient(top, #e57777, #b22222);
	background-image: linear-gradient(top, #e57777, #b22222);
	border: 1px solid #791717;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.gold {
	background-color: #8b6508; /* Dark Golden Rod 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#db9f0d), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -moz-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -ms-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -o-linear-gradient(top, #db9f0d, #8b6508);
	background-image: linear-gradient(top, #db9f0d, #8b6508);
	border: 1px solid #6b4e06;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.gold:hover {
	background-color: #f3b828;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b828), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #f3b828, #8b6508);
	background-image: -moz-linear-gradient(top, #f3b828, #8b6508);
	background-image: -ms-linear-gradient(top, #f3b828, #8b6508);
	background-image: -o-linear-gradient(top, #f3b828, #8b6508);
	background-image: linear-gradient(top, #f3b828, #8b6508);
	border: 1px solid #6b4e06;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.brown {
	background-color: #8b4513; /* Saddle Brown */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d66a1d), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -moz-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -ms-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -o-linear-gradient(top, #d66a1d, #8b4513);
	background-image: linear-gradient(top, #d66a1d, #8b4513);
	border: 1px solid #4f270b;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.brown:hover {
	background-color: #8b4513;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e58541), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #e58541, #8b4513);
	background-image: -moz-linear-gradient(top, #e58541, #8b4513);
	background-image: -ms-linear-gradient(top, #e58541, #8b4513);
	background-image: -o-linear-gradient(top, #e58541, #8b4513);
	background-image: linear-gradient(top, #e58541, #8b4513);
	border: 1px solid #4f270b;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.silver {
	background-color: #c0c0c0; /* Silver */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -moz-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -ms-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -o-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: linear-gradient(top, #eaeaea, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #fff;
}

a.silver:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #fff, #c0c0c0);
	background-image: -moz-linear-gradient(top, #fff, #c0c0c0);
	background-image: -ms-linear-gradient(top, #fff, #c0c0c0);
	background-image: -o-linear-gradient(top, #fff, #c0c0c0);
	background-image: linear-gradient(top, #fff, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #fff;
}

a.gray {
	background-color: #696969; /* Dim Gray */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#696969));
	background-image: -webkit-linear-gradient(top, #939393, #696969);
	background-image: -moz-linear-gradient(top, #939393, #696969);
	background-image: -ms-linear-gradient(top, #939393, #696969);
	background-image: -o-linear-gradient(top, #939393, #696969);
	background-image: linear-gradient(top, #939393, #696969);
	border: 1px solid #474747;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.gray:hover {
	background-color: #adadad;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#696969));
	background-image: -webkit-linear-gradient(top, #adadad, #696969);
	background-image: -moz-linear-gradient(top, #adadad, #696969);
	background-image: -ms-linear-gradient(top, #adadad, #696969);
	background-image: -o-linear-gradient(top, #adadad, #696969);
	background-image: linear-gradient(top, #adadad, #696969);
	border: 1px solid #474747;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.black {
	background-color: #080808; /* Black */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#080808));
	background-image: -webkit-linear-gradient(top, #323232, #080808);
	background-image: -moz-linear-gradient(top, #323232, #080808);
	background-image: -ms-linear-gradient(top, #323232, #080808);
	background-image: -o-linear-gradient(top, #323232, #080808);
	background-image: linear-gradient(top, #323232, #080808);
	border: 1px solid #000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000;
}

a.black:hover {
	background-color: #4c4c4c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#080808));
	background-image: -webkit-linear-gradient(top, #4c4c4c, #080808);
	background-image: -moz-linear-gradient(top, #4c4c4c, #080808);
	background-image: -ms-linear-gradient(top, #4c4c4c, #080808);
	background-image: -o-linear-gradient(top, #4c4c4c, #080808);
	background-image: linear-gradient(top, #4c4c4c, #080808);
	border: 1px solid #000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000;
}

/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 20px 0;
	padding: 15px;
	text-align: left;
}

.alert {
	background-color: #faebeb;
	border: 1px solid #dc7070;
	color: #212121;
}

.address {
	background-color: #f6f5ef;
	border: 1px solid #cdc9a5;
	color: #212121;
}

.notice {
	background-color: #fbf9e9;
	border: 1px solid #e3cf57;
	color: #212121;
}

.success {
	background-color: #f9fde8;
	border: 1px solid #a2bc13;
	color: #212121;
}

.download {
	background-color: #fff4e5;
	border: 1px solid #ff9912;
	color: #212121;
}

.information {
	background-color: #eef3f6;
	border: 1px solid #6ca6cd;
	color: #212121;
}

.required {
	color: #d5243f;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	color: #212121;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px;
	position: absolute;
	top: 60px;
	text-align: center;
	width: 100%;
}

.msie-box a {
	color: #212121;
}

/* =Tables
-------------------------------------------------------------- */
th, 
td,
table {
	border: 1px solid #ddd;
}

table {
	border-collapse: collapse;
	width: 100%;
}

/* =Lists
-------------------------------------------------------------- */
ul {
	list-style-type: disc;
    margin: 0;
    padding: 0;
}

ol {
	line-height: 22px;
	list-style-position: outside;
	list-style-type: decimal;
    margin: 0;
    padding: 0;
}

dt {
	font-weight: 400;
}

/* =Blockquote
-------------------------------------------------------------- */
blockquote {
	background: #f9f9f9;
	border: none;
	border-left: 4px solid #d6d6d6;
	margin: 20px;
	overflow: auto;
	padding: 0 0 10px 12px;
}

blockquote p {
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 18px;
	line-height: 26px;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: 700;
	line-height: 1.0em;
    word-wrap: break-word;
}

h1 {
    font-size: 2.625em; /* = 42px */
    margin-bottom: .5em;
    margin-top: .5em;
}
h2 {
    font-size: 2.250em; /* = 36px */
    margin-bottom: .75em;
    margin-top: .75em;
}

h3 {
    font-size: 1.875em; /* = 30px */
    margin-bottom: .857em;
    margin-top: .857em;
}

h4 {
    font-size: 1.500em; /* = 24px */
    margin-bottom: 1em;
    margin-top: 1em;
}

h5 {
    font-size: 1.125em; /* = 18px */
    margin-bottom: 1.125em;
    margin-top: 1.125em;
}

h6 {
    font-size: 1.000em; /* = 16px */
    margin-bottom: 1.285em;
    margin-top: 1.285em;
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p, 
hr, 
dl, 
pre,
form,
table,
address, 
blockquote {
	margin: 1.6em 0;
}

th, td {
	padding: .8em;
}

caption {
	padding-bottom: .8em;
}

blockquote {
	padding: 0 1em;
}

blockquote:first-child {
	margin: .8em 0;
}

fieldset {
	margin: 1.6em 0;
	padding: 0 1em 1em;
}

legend {
	padding-left: .8em;
	padding-right: .8em;
}

legend+* {
	margin-top: 1em;
}

input,
textarea {
	padding: .3em .4em .15em;
}

select {
	padding: .1em .2em 0;
}

option {
	padding: 0 .4em;
}

dt {
	margin-bottom: .4em;
	margin-top: .8em;
}


ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 2.0em;
}

li ul,
li ol {
    margin: 0;
}

form div {
	margin-bottom: .8em;
}

/* =Globals
-------------------------------------------------------------- */
#container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0px 25px;
}

#wrapper {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	clear: both;
	margin: 20px auto 20px auto;
	padding: 0 20px 20px 20px;
	position: relative;
}

.home #wrapper {
	background-color: transparent;
	border: none;
	margin: 20px auto 0 auto;
	padding: 0;
}

#header {
	margin: 0;
}

#footer {
	clear: both;
	margin: 0 auto;
	/*max-width: 960px;*/
	width: 100%;
	padding: 25px 25px 0 25px;
	border-top:1px solid #82dcf2;
}

#footer-wrapper {
	margin: 0;
	padding: 0;
}

/* =Header
-------------------------------------------------------------- */
#logo {
	float: left;
	margin: 0;
}

.site-name {
	display: block;
	font-size: 2.063em; /* = 33px */
    line-height: 1.0em;
	padding-top: 20px;
}

.site-name a {
    color: #333;
	font-weight: 700;
}

.site-description {
    color: #afafaf;
	display: block;
	font-size: 0.875em; /* = 14px */
	margin: 10px 0;
}

/* =Content
-------------------------------------------------------------- */
#content {
	margin-bottom: 20px;
}

#content-full {
	margin-bottom: 20px;
}

#content-blog {
	margin-bottom: 20px;
}

#content-images {
	margin-bottom: 20px;
}

#content-search {
    margin-bottom: 20px;
    margin-top: 20px;
}

#content-archive {
	margin-bottom: 20px;
}

#content-sitemap {
	margin-bottom: 20px;
}

#content-sitemap a {
	font-size: 12px;
}

#content .sticky {
	clear: both;
}

#content .sticky p {}

/* =Templates (Landing Page)
-------------------------------------------------------------- */
.page-template-landing-page-php .menu, 
.page-template-landing-page-php .top-menu,
.page-template-landing-page-php .tinynav,
.page-template-landing-page-php .footer-menu, 
.page-template-landing-page-php .sub-header-menu {
	display: none;
}

/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background: #f9f9f9;
	border: 1px solid #d6d6d6;
    border-radius: 4px;
	clear: both;
	display: block;
	margin: 30px 0 40px 0;
    padding: 10px;
	overflow: hidden;
}

#author-meta img {
	float: left;
	padding: 10px 15px 0 5px;
}

#author-meta p {
    margin: 0;
	padding: 5px;
}

#author-meta .about-author {
	font-weight: 700;
	margin: 10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
#featured {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: #00bbe4;
	border: 0;
	padding-bottom: 0;
	width: 99.893617021277%;
}


#featured p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	padding: 0 40px 0 40px;
	text-align: center;
	color:#fff;
	font-style:italic;
}

#featured-image {
	margin: 40px 0 0 0;
}
#featured-image .hero {
	border-bottom:1px solid #fff;
	/*background:url('img/big-hero.jpg') 0 0 no-repeat;*/
	height:345px;
	display:block;

}
#featured-image .fluid-width-video-wrapper {
	margin-left: -20px;
}

.featured-image img {
	margin-top: 44px;
}

/* =Post
-------------------------------------------------------------- */
.comments-link {
	font-size: 12px;
}

#cancel-comment-reply-link {
	color: #900;
}

.post-data {
	clear: both;
	font-size: 12px;
	font-weight: 700;
	margin-top: 20px;
}

.post-data a {
	color: #111;
}

.post-entry {
	clear: both;
}

.post-meta {
	clear: both;
	color: #9f9f9f;
	font-size: 12px;
	margin-bottom: 10px;
}

.post-edit {
	clear: both;
	display: block;
	font-size: 12px;
	margin: 1.5em 0;
}

.post-search-terms {
	clear: both;
}

.read-more {
	clear: both;
	font-weight: 700;
}

.attachment-entry {
	clear: both;
	text-align: center;
}

/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
	display: none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
	color: #aaa;
	font-size: 18px;
	margin-left: 5px;
}

.form-allowed-tags {
    display: none;
	font-size: 10px;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	margin: 0 0 20px;
	padding: 20px;
}

.widget-wrapper select,
.widget-wrapper input[type="text"], 
.widget-wrapper input[type="password"] {
    width: 75%;
}

#widgets { 
	margin-top: 40px;
}

.home #widgets {
	margin-top: 0;
}

#widgets a {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#widgets form {
    margin: 0;
}

#widgets ul,
#widgets ol {
    padding: 0 0 0 20px;
}

#widgets ul li a {
	display: inline;
	text-decoration: none;
}

#widgets .widget-title img {
	float: right;
	height: 11px;
	position: relative;
	top: 4px;
	width: 11px;
}

#widgets .rss-date {
	line-height: 18px;
	padding: 6px 12px;
}

#widgets .rssSummary {
	padding: 10px;
}

#widgets cite {
	font-style: normal;
	line-height: 18px;
	padding: 6px 12px;
}

#widgets .tagcloud,
#widgets .textwidget {
	display: block;
	line-height: 1.5em;
	margin: 0;
	word-wrap: break-word;
}

#widgets .textwidget a {
	display: inline;
}

#widgets ul .children {
	padding: 0 0 0 10px;
}

#widgets .author {
	font-weight: 700;
	padding-top: 4px;
}

.widget_archive select, #cat {
	display: block;
	margin: 0 15px 0 0;
}

#colophon-widget ul {}

.colophon-widget {
	background: none;
	min-height: 0;
}

.colophon-widget select,
.colophon-widget input[type="text"], 
.colophon-widget input[type="password"] {
	width: 100%;
}

#top-widget {}

.top-widget {
    background: none;
    border: none;
    clear: right;
    float: right;
	min-height:0;
    padding: 0 3px 0 0;
    text-align: right;
    width: 45%;
}

.top-widget ul {
    padding: 0;
}

.top-widget select, 
.top-widget input[type="text"], 
.top-widget input[type="password"] {
    width: auto;
}

.top-widget #searchform {
    margin: 0;
}

/* =Titles
-------------------------------------------------------------- */
.featured-title {
	font-size:  60px;
	letter-spacing: -1px;
	margin: 0;
	padding-top: 40px;
	color: #fff;
	text-align:center;
	font-family:'DINNextW01-CondensedReg';
}

.featured-subtitle {
	padding: 0 10px;
	text-align: center;
	color: #fff;
	text-align:center;
	font-family:'DINNextW01-CondensedReg';
}

.widget-title, 
.widget-title-home h3 {
	display: block;
	font-size: 24px;
	font-weight: 700;
	line-height: 23px;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: center;
}

.top-widget .widget-title {
    font-size: 14px;
    padding: 0;
    text-align: right;
}

.widget-title a {
	border-bottom: none;
	padding: 0 !important;
}

.title-404 {
	color: #933;
}

/* =404 Page 
-------------------------------------------------------------- */
.error404 select, 
.error404 input[type="text"], 
.error404 input[type="password"] {
    width: auto;
}

/* =Top Menu
-------------------------------------------------------------- */
.top-menu {
	float: right;
	margin: 10px 0 0;
    padding: 0;
    text-transform:uppercase;
    font-family:'DIN Next W01 Regular';
}

.top-menu li {
	display: inline;
	list-style-type: none;
}

.top-menu li a {
	border-left: 1px solid #ccc;
	color: #333;
	font-size: 18px;
	padding: 0 4px 0 8px;
}
.top-menu li.current a {
	color:#0067ab;
}
.top-menu > li:first-child > a {
	border-left: none;
}

.top-menu li a:hover {
	color: #333;
}

/* =Header Menu (Primary)
-------------------------------------------------------------- */
.menu {
	background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(top, #585858, #3d3d3d);
	clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d);
	margin: 0 auto;
}

.menu, 
.menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

.menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.menu li li {
	float: none;
}

.menu ul {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 10;
}

.menu li:hover > ul {
	top: 100%;
	visibility: visible;
}

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu:after, 
.menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.menu, 
.menu ul {
	min-height: 0;
}

.menu ul,
.menu ul ul {
	margin: 0;
	padding: 0;
}

.menu ul li a:hover, 
.menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.menu ul {
    margin-top: 1px;
	min-width: 15em;
	width: auto;
}

.menu a {
	border-left: 1px solid #585858;
	color: #fff;
    cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: 700;
	height: 45px;
	line-height: 45px;
	margin: 0;
	padding: 0 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
}

.menu a:hover {
	background-color: #808080;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
	background-image: -webkit-linear-gradient(top, #808080, #363636);
	background-image: -moz-linear-gradient(top, #808080, #363636);
	background-image: -ms-linear-gradient(top, #808080, #363636);
	background-image: -o-linear-gradient(top, #808080, #363636);
	background-image: linear-gradient(top, #808080, #363636);
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#363636);
}

.menu .current_page_item a,
.menu .current-menu-item a {
	background-color: #343434;
}

.home .menu .current_page_item a {
    background: none;
	background-color: transparent;
    background-image: none;
    filter: none;
}

.menu li li {
	background: #fff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444;
	filter: none;
    margin: -1px 0 1px 0;
	width: auto;
}

.menu li li a {
	background: transparent !important;
	border: none;
	color: #444;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	text-shadow: none;
	white-space: nowrap;
}

.menu li li a:hover {
	background: #f5f5f5 !important;
	background-image: none;
	border: none;
	color: #444;
	filter: none;
}

.menu ul > li + li {
	border-top: 0;
}

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu > li:first-child > a {
	border-left: none;
}

/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .menu ul {
	background: url(images/ie7-fix.gif) repeat;
}

.ie7 .menu li li a  {
    min-width: 100%;
}

/* =Responsive Menu
    TinyNav + SelectBox
-------------------------------------------------------------- */
.tinynav { 
    display: none 
}

.sb-holder {
	background-color: #3d3d3d;
    display: none;
    height: 30px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.sb-holder:focus .sb-selector {}

.sb-selector {
    display: block;
    height: 30px;
    left: 0;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 100%;
}

.sb-selector:link,
.sb-selector:visited,
.sb-selector:hover {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
}

.sb-toggle {
    background: url(images/select-icons.png) 0 6px no-repeat;
    display: block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.sb-toggle-open {
    background: url(images/select-icons.png) 0 -45px no-repeat;
}

.sb-holder-disabled {
    background-color: #3c3c3c;
    border: 1px solid #515151;
}

.sb-holder-disabled .sb-holder {}

.sb-holder-disabled .sb-toggle {}

.sb-options {
    background-color: #fff;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
}

.sb-options li {
    padding: 0;
}

.sb-options a {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    font-size: 11px;
    outline: none;
    padding: 4px;
    text-indent: 4px;
}

.sb-options a:link,
.sb-options a:visited {
    color: #444;
    text-decoration: none;
}

.sb-options a:hover,
.sb-options a:focus,
.sb-options a.sb-focus {
    background-color: #f5f5f5;
    color: #444;
}

.sb-options li.last a {
    border-bottom: none;
}

.sb-options .sb-disabled {
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}

.sb-options .sb-group {
    border-bottom: dotted 1px #515151;
    color: #ebb52d;
    display: block;
    font-weight: 700;
    padding: 7px 0 7px 3px;
}

.sb-options .sb-sub {
    padding-left: 17px;
}

/* =Sub-Header Menu
-------------------------------------------------------------- */
.sub-header-menu {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
	clear: both;
	margin: 0 auto;
}

.sub-header-menu, 
.sub-header-menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sub-header-menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

.sub-header-menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.sub-header-menu li li {
	float: none;
}

.sub-header-menu ul {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 10;
}

.sub-header-menu li:hover > ul {
	top: 100%;
	visibility: visible;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu:after, 
.sub-header-menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.sub-header-menu, 
.sub-header-menu ul {
	min-height: 0;
}

.sub-header-menu ul,
.sub-header-menu ul ul {
	margin: 0;
	padding: 0;
}

.sub-header-menu ul li a:hover, 
.sub-header-menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.sub-header-menu ul {
    margin-top: 1px;
	min-width: 15em;
	width: auto;
}

.sub-header-menu a {
	border-left: 1px solid #e5e5e5;
	color: #333;
    cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: none;
}

.sub-header-menu a:hover {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-color: #f9f9f9;
	background-clip: padding-box;
}

.sub-header-menu .current_page_item a,
.sub-header-menu .current-menu-item a {
	background-color: #f9f9f9;
}

.sub-header-menu li li {
	background: #fff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444;
	filter: none;
    margin: -1px 0 1px 0;
	width: auto;
}

.sub-header-menu li li a {
	border: none;
	color: #444;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	text-shadow: none;
}

.sub-header-menu li li a:hover {
	background: #f9f9f9;
	background-image: none;
	border: none;
	color: #444;
	filter: none;
}

.sub-header-menu ul > li + li {
	border-top: 0;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu > li:first-child > a {
	border-left: none;
}

.sub-header-menu ul.children a, 
.sub-header-menu .current_page_ancestor, 
.sub-header-menu .current_page_ancestor ul a {
	background: none;
	background-image: none;
	filter: none;
}

/* =Sub Header Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {
	background: url(images/ie7-fix.gif) repeat;
}

.ie7 .sub-header-menu li li a  {
    min-width: 100%;
}

/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {
	margin-left: 0;
    padding: 0;
}

.footer-menu li {
	display: inline;
	list-style-type: none;
}

.footer-menu li a {
	border-left: 1px solid #ccc;
	color: #333;
	padding: 0 8px;
}

.footer-menu li a:hover {
	color: #222;
}

.footer-menu > li:first-child > a {
	border-left: none;
	padding: 0 8px 0 0;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #111;
	display: block;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	margin: 20px 0;
	padding: 0 5px;
}

.navigation a {
	color: #aaa;
	padding: 4px 10px;
}

.navigation a:hover {
	color: #111;
	text-decoration: none;
}

.navigation .previous {
	float: left;
}

.navigation .next {
	float: right;
}

.navigation .bracket {
	font-size: 36px;
}

/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
	clear: both;
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0;
	padding: 5px 0;
}

.pagination a {
	text-decoration: none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
	font-size: 12px;
	padding: 40px 0 0 0;
}

/* =Comments
-------------------------------------------------------------- */
#commentform {
	margin: 0;
}

.commentlist {
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0;
}

.commentlist .bypostauthor {}

.commentlist li cite {
	color: #111;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
}

.commentlist li.alt {
	background: #f9f9f9;
}

.commentlist .children {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
}

.commentlist .avatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
	padding: 0;
	vertical-align: middle;
}

.comment-author .fn {
}

.comment-author .says {
	color: #999;
}

.comment-body .comment-meta {
	color: #999;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.comment-body .comment-meta a {
	font-size: 11px;
}

.comment-body {
	clear: both;
	padding: 10px;
}

.comment-body p {
	clear: both;
}

.comment-body .reply {
}

.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}

.pingback cite, 
.trackback cite {
	font-style: normal;
}

#pings,
#comments {
	text-align: left;
}

#respond {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
	background-image: linear-gradient(top, #ffffff, #eaeaea);
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	border-radius: 4px;
	clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	margin-top: 15px;
	padding: 10px 20px 50px;
}

#respond label {
	display: inline;
}

.reply {
	margin: 10px 0;
}

.comment-form-url input,  
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
	display: block;
}

.nocomments {
	color: #999;
	font-size: .9em;
	text-align: center;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter, 
div.aligncenter {
	display: block;
	margin: 5px auto 20px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #f9f9f9;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	padding: 13px 10px 10px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0;
	padding: 10px;
}

img.wp-smiley {
	vertical-align: middle;
}

/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {
	margin: 0 auto 18px;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	max-width: 155px;
}

.gallery img {
	border: 1px solid #ddd;
}

.gallery .gallery-caption {
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery br+br {
	display: none;
}

.attachment-gallery img {
	background: #fff;
	border: 1px solid #f0f0f0;
	display: block;
	height: auto;
	margin: 15px auto;
	max-width: 96%;
	padding: 5px;
	width: auto;
}

.gallery-meta .iso, 
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,  
.gallery-meta .focal-length {
	display: block;
}

/* =Post Thumbnails 
-------------------------------------------------------------- */
img.wp-post-image,
img.attachment-full,
img.attachment-large, 
img.attachment-medium, 
img.attachment-thumbnail {
	display: block;
	margin: 15px auto;
	width: auto;
}

/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {
	padding: 40px 0 0 0;
}

#breadcrumb a {
	color: #06c;
	font-size: 12px;
	font-weight: 400;
}

#breadcrumb a:hover {
	color: #444;
	text-decoration: none;
}

#content-woocommerce {
	margin-bottom: 20px;
}

.products ul, ul.products {
	margin-top: 40px;
}

.cart-collaterals .shipping_calculator {
	width: 100%;
}

table.shop_table {}

table.cart td.actions .coupon .input-text, 
table.cart td.actions .coupon .input-text {
	cursor: text;
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	font-size: 11px;
	line-height: 1.5em;
}

#footer a {
	color: #333;
	font-weight: 400;
}

#footer a:hover {
    color: #444;
}

#footer-wrapper .grid.col-940 {
	margin: 0;
}

.scroll-top {
	text-align: center;
}

.copyright {
	text-align: left;
}

.powered {
	text-align: right;
}

/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
	list-style: none;
	line-height: normal;
    padding: 0;
	margin: 0;
	text-align: right;
}

#footer .yelp-icon,
#footer .vimeo-icon, 
#footer .youtube-icon, 
#footer .twitter-icon,
#footer .facebook-icon, 
#footer .linkedin-icon, 
#footer .rss-feed-icon, 
#footer .instagram-icon,
#footer .pinterest-icon, 
#footer .foursquare-icon,
#footer .google-plus-icon, 
#footer .stumble-upon-icon {
	display: inline;
	margin: 1px;
	padding-left: 3px;
}

/* =Alignments Extras
-------------------------------------------------------------- */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after,
.clearfix:before,
#container:after,
#container:before,
.widget-wrapper:after,
.widget-wrapper:before {
    content: ' ';
    display: table;
}

.clearfix:after,
#container:after,
.widget-wrapper:after {
    clear: both;
}

.ie7 .clearfix,
.ie7 #container,
.ie7 .widget-wrapper {
    zoom: 1;
}

.clear {
	clear: both;
}

/*BEGIN CUSTOM STYLES */

/*Custom Select */
#location {
	padding: 0 10px;
}
span.customSelect {
	font-family:'DIN Next W01 Regular';
	background-color: #fff; // Old browsers
	/*@include filter-gradient(#05b9e4, #05b9e4, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #05b9e4 0%,#05b9e4 100%));
	*/
	color:#68676c;
	padding:0.5em 7px;
	border:1px solid #44cbeb;
	bottom:0;
	text-transform:uppercase;
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #ffffff; // Old browsers
	@include filter-gradient(#ffffff, #05b9e4, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #ffffff 88%,#05b9e4 88%,#05b9e4 100%));
}
span.customSelect.changed {
	background-color: #f0dea4;
}
.customSelectInner {
	background:url(../img/arrow-select.svg) no-repeat 98% center;
}

/*Get started Form */

.widget-wrapper {
	padding-top:0;
}
.get-started {
	text-align: center;
}
.get-started h2 {
	font-family:'DIN Next W01 Regular';
	color:#0070b0;
	font-weight:normal;
	margin-top:0;
	margin-bottom:.15em;
}
.get-started h3 {
	font-weight:normal;
	margin-top:0;
	margin-bottom:.5em;
}
.find-doctor .text-input {
	@include border-radius(20px);
	border:1px solid #cccccc;
	box-shadow: (#dfdfdf 1px 1px 10px);
	padding:4px;
}
.find-doctor label {
	@include border-radius(20px 0 0 20px);
	background-color: #da0523; // Old browsers
	@include filter-gradient(#da0523, #da0523, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #da0523 0%,#da0523 100%));
	color:#fff;
	text-align:center;
	display:inline-block;
	line-height: 30px;
	height:30px;
	width:25%;
	padding:0;
	text-transform:uppercase;
	width:31%;
	}
.find-doctor input[type=text] {
	border:1px solid #da0522;
	@include border-radius(0 20px 20px 0);
	display:inline-block;
	line-height: 30px;
	height:30px;
	padding:0;
	text-indent: .5em;
	margin-top:-2px;
	width:69%;
}
.find-doctor .or {
	text-transform: uppercase;
	font-family:'DIN Next W01 Regular';
	color:#da0522;
	text-align:center;
	margin:0 auto;
	display:block;
}
#widgets a.button {
	padding: 0.4em 1.5em 0.4em 1.5em;
}
#widgets .call-to-action {
	padding:2em 0 3em;	
}
/*social icons */  

.social {
	text-align:center;
}
#widgets ul.social-icons {
	margin:0 auto;
	overflow: auto;
	padding:0;
	text-align:center;
}
ul.social-icons li {
  list-style: none;
  display:inline-block;
  margin:0 0 0 16px;
 }
ul.social-icons li a {
  width: 48px;
  height: 49px;
  display:block;
}
ul.social-icons li:first-child {
	margin:0;
}

.contact-us {
	background:#00bde0;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-family:'DIN Next W01 Regular';
	font-size:28px;
	padding:.5em 0;
	margin:0 0 1em 0;
}
.about-us {
	font-size: 21px;
	color:#0070b0;
	font-family:'DIN Next W01 Regular';
	margin:0 0 1em 0;
}
#footer .about-us a {
	color:#0070b0;
}
.copyright {
	background:#00bde0;
	color:#fff;
	text-align: center;
	padding:22px 0;
	margin:22px 0 0;
}
nav {
	font-size:20px;
}
nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
nav ul li a {
	display: block;
	text-decoration: none;
	background: #0070b0;
	color: white;
	padding: 1em;
	margin-bottom: 1px;
}
nav ul li a .arrow {
	float:right;
}
nav ul li a:hover {
	color:#fff;
	background:#05b9e4;
}
.drawer {
	margin:0 0 20px 0;
}
.drawer.active {
	display:block;
}


/* Fallbacks */

.no-csstransforms .top {
  position: static;
}

.no-csstransforms .drawer nav {
  display: none;
}

.no-csstransforms .drawer.active nav {
  display: block;
}

.footer-list {
	list-style: none;
	text-align:left;
	padding-left:0;
}
.footer-list ul {
	list-style: none;
	text-align:left;
	padding-left:0;
}
#footer .footer-list a.list-title {
	color: #0070b0;
}

/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
	direction: ltr;
	unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
	direction: rtl;
	unicode-bidi: bidi-override;
}

[DIR="ltr"] {
   direction: ltr;
   unicode-bidi: embed;
}

[DIR="rtl"] {
   direction: rtl;
   unicode-bidi: embed;
}

/* =Media Print
    If you're working on a Child Theme, make sure that all
	media queries are included in your style.css
-------------------------------------------------------------- */
@media print {

    h1 {
	    page-break-before: always;
    }

    h1,  h2,  h3,  h4,  h5,  h6 {
	    page-break-after: avoid;
    }

    ul,  ol,  dl {
	    page-break-before: avoid;
    }
}

/*	Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2012/06/devicepixelrati.html
-------------------------------------------------------------- */
@media 
    only screen and (-moz-min-device-pixel-ratio:1.5), 
    only screen and (-o-min-device-pixel-ratio:3/2), 
    only screen and (-webkit-min-device-pixel-ratio:1.5), 
    only screen and (min-device-pixel-ratio:1.5) {
    
    body {}
}

/* =Responsive (Mobile) Design
-------------------------------------------------------------- */


/*Menu */

@media screen and (max-width: 240px) {

    span.customSelect {
	font-family:'DIN Next W01 Regular';
	font-size:18px;
	}
	
    body {}
	
	.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860 {
		width:100%;
	}
	
	#featured p {
	    font-size: 11px;
		line-height: 1.5em;
    }

    .featured-title {
	    font-size: 20px;
    }
	
	.featured-subtitle {
		font-size: 11px;
	}

    
    .top-widget area,
    .top-widget select,
    .top-widget textarea,
    .top-widget input[type="text"], 
    .top-widget input[type="password"] {
        width: 75%;
    }
    
    .widget-title,
    .widget-title-home h3 {
        font-size: 14px;
        height: 13px;
        line-height: 13px;
        text-align: left;
    }
    
    .hide-240 {
        display: none;
    }
    
    .show-240 {
        display: block;
    }
}
@media screen and (min-width: 320px) {
    
    #container {
	    padding:0;
    }
	#menu-button {
	position:absolute;
	right:17px;
	top:21px;
	display:block;
	}
	.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860 {
		width:100%;
	}
    body { 
    	
    }
    #logo {
    	text-align:left;
    	margin:22px 0 42px 20px;
    }
	#logo img {
		width: 201px;
		height: 46px;
	}
	
	.home #wrapper {
		margin: 0;
	}
	#header form {
		margin:0;
	}
	#featured {
		margin: 0 0 30px 0;
	}
	
	#featured .sub {
		margin:0;
		text-align:center;
	}
	#featured h2 {
		
	}
	#featured .call-to-action {
		margin: 0em 0 0 0;
		padding:6px 20px 24px 20px;
	}
	#featured .call-to-action a.button {
		padding: 0.4em 1.5em 0.4em 1em;
		font-size: 26px;
		line-height: 30px;
		vertical-align: middle;
		position: relative;
	}
	#featured .call-to-action a.button .arrow svg {
		width: 30px;
		height:30px;
		line-height:30px;
	}
	#featured p {
	    font-size: 12px;
		line-height: 1.5em;
		display:inline;
		padding:0;
    }
    #featured-image {
    	margin: 0;
    }
	#featured-image img {
	height:231px;
	margin-bottom:20px;
	border-bottom: 1px solid #fff;
	}
	.hero-copy {
		padding: 0 40px;
	}
	.top-menu {
		margin:0 auto 10px;
		text-align:center;
		float:none;
		clear:both;
	}
	.top-menu li a {
		font-size:21px;
		padding:0 .25em;
	}
	.top-menu li:first-child a {
		padding-left:0;
	}
    .featured-title {
	    font-size:21px;
	    letter-spacing:.5px;
		padding-top:17px;
		font-weight:normal;
    }
	
	.featured-subtitle {
		font-size:12px;
		display:inline;
		padding:0;
	}
	
	.get-started h2 {
		font-size:35px;
	}
	.get-started h3 {
		font-size:18px;
	}
	.find-doctor {
		padding:0;
	}
	.find-doctor label {
		font-size:1em;
	}
	
    .hide-320 {
        display: none;
    }
    
    .show-320 {
        display: block;
    }
    
    .home #widgets {
    	margin-top: 0;
    }
    #footer {
	    padding:20px 0;
	    margin: 0;
    }
    .widget-wrapper {
	    /*padding:0 20px;*/
	    padding:0;
    }
    span.customSelect {
		font-family:'DIN Next W01 Regular';
		font-size:18px;
	}
	ul.social-icons li a {
		width: 61px;
		height: 61px;
	 } 
	 #footer .social-icons {
	 	margin-bottom:20px;
	 	text-align: center;
	 }
	 .contact-us {
		 font-size:30px;
		 padding:20px 0;
	 }
	 #footer {
	    text-align: center;
    }
	 #footer .about-us a {
	 	font-size:21px;
	 }
	 #widgets .call-to-action {
		padding:1em 0;
	 }
	 .find-doctor input[type=text] {
		margin-top:0px;
	}
	ul.social-icons li a {
		width:48px;
		height:48px;
	}
	nav {
		display:block;
	}
	nav ul {
		float:none;
		clear:both;
	}
	.drawer { 
		display:none;
	}
	.customSelectInner {
		background:url(../img/arrow-select.svg) no-repeat 99% center;
	}
	.find-doctor .text-input {
		margin:0 0 5px;
	}
	.find-doctor {
		padding:18px 10px;
		line-height:2em;
	}
	.find-doctor label {
		font-size: 20px;
		height:41px;
		line-height: 41px;
	}
	.find-doctor input[type=text] {
		margin-top:-3px;
		height:41px;
	}
	.find-doctor .or {
		font-size:20px;
		margin: 0;
	}
	
	#widgets .call-to-action {
		margin: 20px 0 0 0;
	}
	#widgets a.button {
		font-size:26px;
		padding: 0.550em 1.500em;
		line-height: 35px;
		vertical-align: middle;
		text-transform: uppercase;
		font-family: 'DIN Next W01 Medium';
		font-weight: normal;
	}
	#widgets a.button svg {
		width:35px;
		height:35px;
	}
	.get-started {
		padding-bottom: 0;
	}
	.get-started h2 {
		font-size:42px;
	}
	.get-started h3 {
		font-size:23px;
	}
	#footer .social-icons {
		text-align: center;
		margin:10px 0 0px 0;
	}
	ul.social-icons li {
		margin: 0 0 0 18px;
		font-size: 21px;
		text-align: center;
		vertical-align: top;
	}
	ul.social-icons li a {
		width:61px;
		height:61px;
		margin-bottom:.5em;
	}
	.social-icons li a.social-icons-youtube {
		background-position: 0 0;
	}
	.social-icons li a.social-icons-facebook {
		background-position: 0 -220px;
	}
	.social-icons li a.social-icons-blog {
		background-position: 0 -61px;
	}
	#footer {
		padding: 20px 0 0 0;
		margin:20px 0 0;
	}
	#footer-wrapper .col-220 {
		width: 100%;
		margin:0;
	}
	.copyright {
		margin:0 0 0 0;
		padding: .5em 0;
	}
	#footer .find-us {
		text-align:left;
		color:#0070B0;
	}
	.col-220 {
		text-align: center;
		
	}
	#footer .col-220:first-child {
	}
	#footer .col-220 .padding {
		padding:0;
	}
	.footer-list {
		padding: 0;
		margin:0;
		float:none;
		font-size: 24px;
	}
	.footer-list li {
		padding: 0 15px;
		line-height: 60px;
		border-top: 1px solid #e5e5e6;
		width: 100%;
	}
	.footer-list li:first-child {
		border-top: 0;
	}
	#footer a.list-title {
		color: #fff;
		font-size: 30px;
		line-height: 40px;
		width:100%;
		background: #05b9e4;
		text-transform: uppercase;
		text-align: left;
		padding: 10px 35px;
		vertical-align: middle;
		display:block;
	}
	.ortho-accel-logo {
		width: 247px;
		height: 80px;
		margin: 0 auto 30px;
	}
	.top-menu li.current a {
	    background: url('../img/header-arrow.svg') center bottom no-repeat;
	}
}
@media screen and (max-width: 320px) {
	.hide-320 {
        display: none;
    }
    
    .show-320 {
        display: block;
    }

}

@media screen and (min-width: 480px) {
	#menu-button {
		position:absolute;
		right:32px;
		top:27px;
		display:block;
	}
	#header form#location {
		margin:13px 65px;
		padding:0;
	}
	#featured {
	}
    body {}
    
    #logo {
	    float: none;
	    text-align: left;
	    margin:28px 0 61px 41px;
    }
	#logo img {
		width:251px;
	    height:57px;
	}
	.top-menu li a {
		font-size: 30px;
		padding:0 .25em;
	}
	nav ul li a {
		line-height: 30px;
	}
	nav ul li a svg {
		width:30px;
		height:30px;
	}
    .grid, 
	.grid-right {
	    float: none;
    }
    #featured {
	    margin-bottom:38px;
    }
	#featured-image img {
	height:345px;
	}
	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
	}
	
	.featured-title {
	    font-size: 32px;
	    line-height:1;
	    padding: 10px 30px 0 30px;
    }
    
    .featured-subtitle {
        font-size: 18px;
        display:inline;
    }
    #featured p {
	    font-size: 12px;
		display:inline;
		padding:0;
    }
    #featured .sub {
		margin:0;
		text-align:center;
	}
	#featured .call-to-action {
		margin: 0em 0 0 0;
		padding:1em 0 34px;
	}
	#featured .call-to-action a.button {
		padding: 0.4em 1.5em 0.4em 1em;
		font-size: 30px;
		line-height: 30px;
		vertical-align: middle;
		position: relative;
	}
	#featured .call-to-action a.button .show-480 {
		display: inline;
	}
	#featured .call-to-action a.button .arrow svg {
		width: 30px;
		height:30px;
		line-height:30px;
	}
	.widget-wrapper {
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	    .navigation .next,
    .navigation .previous {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
	
    .menu ul, 
	.menu li, 
	.top-menu, 
	.footer-menu li, 
	.sub-header-menu li {
	    float: none;
	    text-align: center;
        text-rendering: optimizeSpeed;
    }
	
	#container {
		padding:0;
	}
    .hide-480 {
        display: none;
    }
    
    .show-480 {
        display: block;
    }
    
    #footer {
	    text-align: center;
	    margin: 54px 0 0 0;
    }
    
    #footer .social-icons {
	    text-align: center;
    }

	    
    span.customSelect {
		font-size:20px;
	}
	.customSelectInner {
		background-position: 98% center;
	}
	ul.social-icons li a {
		width:61px;
		height:61px;
	}
	#footer .about-us {
		 padding-top: 15px;
	 }
	#footer .about-us a {
	 	font-size:26px;
	 }
	 .drawer { 
		display:none;
	}
	#footer .col-220 .padding {
		padding:0;
	}
	
	.find-doctor {
		padding: 20px 70px;
	}
	.find-doctor .text-input {
		margin: 0 0 1em 0;
	}
	#widgets .call-to-action {
		margin: 20px 0 0 0;
	}
	#widgets a.button {
		font-size:30px;
		padding: 0.550em 1.500em;
		line-height: 35px;
		vertical-align: middle;
		text-transform: uppercase;
		font-family: 'DIN Next W01 Medium';
		font-weight: normal;
	}
	#widgets a.button svg {
		width:35px;
		height:35px;
	}
}

@media screen and (min-width: 768px) {

    body {}

    #logo {
    	float:left;
        margin: 0;
	    text-align: left;
	    margin:31px 0 0 28px;
    }
    
    #logo img {
	    width:191px;
	    height:44px;
    }
    .grid, 
	.grid-right {
	    float: left;
    }
    #wrapper, .home #wrapper {
	   margin-top: 0;
    }
    #featured {
	    background: #05b9e4 url('../img/hero-768.jpg') 0 0 no-repeat;
	    min-height:277px;
	    position: relative;
	    margin-top:0;
	    margin-bottom:30px;
    }
	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
    }
    .top-menu {
	    display:table-cell;
	    vertical-align: bottom;
	    padding-bottom:14px;
    }
    .top-menu li a {
	    font-size: 14px;
    }
    #header {
	    min-height:160px;
	    padding:0;
    }
    .menu-form {
	    float:right;
	    overflow: hidden;
	    vertical-align:bottom;
	    padding-right:30px;
    }
    #header form#location {
    	display:table-cell;
    	vertical-align: bottom;
    	margin:0;
    	padding:18px 0 0 0;
    }
    #header form#location label {
    	font-size:12px;
    	font-weight:normal;
    	margin:0 0 0 1em;
    }
    span.customSelect {
		font-size:12px;
		padding: 0 .2em 0 .2em;
		background:url('../img/sprites/select/tablet.png') 100% 0 no-repeat;
		height:27px;
		line-height:27px;
		width:172px;
		margin: 0 0 0 1em;
	}    
    nav {
	    padding-left: 28px;
    }
    nav ul li {
	    float:left;
	    font-size:16px;
    }
    nav ul li:first-child a {
	    padding-left: 0;
    }
    nav ul li a {
	    background:none;
	    color:#0070b0;
	    padding:0 .5em;
    }
    nav ul li a:hover {
	    background:none;
	    color:#00bcf1;
    }
    nav ul li a svg {
	    display:none;
    }
    .drawer {
	    display:block;
	    position: absolute;
	    top:122px;
	    margin:0;
	    padding:0;
    }
    .featured-title {
	    font-weight:normal;
	    font-size:33px;
	    text-align:right;
	    padding:0;
    }
    .featured-subtitle {
	    font-weight:normal;
	    font-size:16px;
	    text-align:right;
	    display:block;
	    margin-bottom:0;
    }
    #featured p {
	    display:block;
	    text-align:right;
	    padding:0;
	    margin:0;
    }
    #featured .hero-copy {
	    position:absolute;
	    bottom:35px;
	    left:0;
	    width:200px;
    }
    #featured .call-to-action {
		position: absolute;
		left: 244px;
		bottom: 20px;
	}
	#featured .call-to-action a.button {
		padding: .5em 2.5em .5em .5em;
		font-size: 18px;
		line-height: 18px;
		vertical-align: middle;
	}
	#featured .call-to-action a.button .arrow svg {
		width: 21px;
		height: 21px;
		line-height: 21px;
	}
	
	h2 {
		font-size: 1em;
		color:#0070b0;
	}
	.home #widgets h2 {
		font-size: 24px;
	}
	.home #widgets .get-started h2 {
		font-size: 22px;
	}
	.home #widgets p {
		margin-top:0;
	}
	.get-started h3 {
		font-size:11px;
	}
	.get-started {
		background: #fafafa url('../img/bg-fold-large.png') 0 0 no-repeat;
		border: 1px solid #dcdcdc;
		padding:38px 0 20px;
		margin: 0 0 22px 0;
		position:relative;
		overflow:auto;
	}
	.find-doctor {
		padding:0 0 0 40px;
		margin:0 auto;
	}
	.get-started .form-header, .get-started .form-wrapper {
		float:right;
		text-align:center;
		margin-top:12px;
	}
	.get-started .form-wrapper {
		min-width:390px;
	}
	.form-header {
		float:right;
		right:0;
		min-width: 302px;
	}
	.home #widgets .get-started h2 {
		font-size: 35px;
	}
	.home #widgets .get-started h3 {
		font-size: 22px;
		width:130px;
		margin:0 auto;
		line-height: 1.25em;
	}
	.get-started .form-wrapper .find-doctor {
	}
	.find-doctor .text-input {
		font-size: 20px;
		line-height:40px;
		vertical-align: middle;
		overflow:hidden;
		padding:3px;
	}
	.find-doctor label {
		font-size: 20px;
		line-height:40px;
		height:40px;
		width:24.5%;
	}
	.find-doctor input[type=text] {
		font-size: 10px;
		margin-top:-1px;
		line-height:40px;
		height:40px;
		width:75.5%; 
	}
	.find-doctor .or {
		font-size: 20px;
		line-height:10px;
		padding-bottom:10px;
	}
	
	.home #widgets {
		padding:0 34px;
	}
	.home #widgets p {
		font-size: 16px;
	}
	#widgets a.button {
		font-size: 23px;
		line-height:23px;
		padding: 0.2em 1.5em 0.2em 0.5em;
	}
	#widgets a.button svg {
		width: 26px;
		height: 26px;
		line-height:1em;
		vertical-align: middle;
	}
	#widgets .call-to-action {
		line-height:14px;
		margin-top:54px;
	}
	.ortho-accel-logo {
		width: 154px;
		height: 47px;
	}
	#footer .social-icons {
		text-align:left;
		margin:10px 0 25px 44px;
	}
	ul.social-icons li {
		margin: 0 0 0 18px;
		font-size: 21px;
		text-align: center;
		vertical-align: top;
	}
	ul.social-icons li a {
		width:61px;
		height:61px;
		margin-bottom:.5em;
	}
	.social-icons li a.social-icons-youtube {
		background-position: 0 0;
	}
	.social-icons li a.social-icons-facebook {
		background-position: 0 -220px;
	}
	.social-icons li a.social-icons-blog {
		background-position: 0 -61px;
	}
	#footer {
		padding: 20px 0 0 0;
		margin:20px 0 0;
	}
	#footer-wrapper .col-220 {
		width: 48.936170212766%;
		margin:0;
	}
	.copyright {
		margin:0 0 0 0;
		padding: .5em 0;
	}
	#footer .find-us {
		text-align:left;
		color:#0070B0;
	}
	#footer .col-220:first-child {
	}
	#footer .col-220 .padding {
		padding:0 35px;
	}
	.footer-list {
		padding: 0;
		margin:0;
		float:none;
		font-size: 24px;
	}
	.footer-list li {
		padding: 0;
		line-height: 60px;
		border-top: 1px solid #e5e5e6;
		width: 100%;
	}
	.footer-list li:first-child {
		border-top: 0;
	}
	#footer a.list-title {
		color: #fff;
		font-size: 24px;
		line-height: 40px;
		width:100%;
		background: #05b9e4;
		text-transform: uppercase;
		text-align: left;
		padding: 0 35px;
		vertical-align: middle;
	}
	.social {
		padding: 0 0 0 36px;
	}
	.home-widgets .textwidget .blurb {
		padding-top:0;
	}
	.home-widgets .textwidget .blurb h2:first-child {
		margin-top:0;
	}
	.ortho-accel-logo {
		width: 247px;
		height: 80px;
		margin-left: 28px;
		margin-top:10px;
	}
	.col-60, 
	.col-140, 
	.col-220, 
	.col-300, 
	.col-380, 
	.col-460, 
	.col-540, 
	.col-620, 
	.col-700, 
	.col-780, 
	.col-860 {
		display: inline;
		margin-right: 2.127659574468%;
	}
	
	.col-60 {
		width: 6.382978723404%;
	}
	
	.col-140 {
		width: 14.893617021277%;
	}
	
	.col-220 {
		width: 23.404255319149%;
	}
	
	.col-300 {
		width: 31.914893617021%;
	}
	
	.col-380 {
		width: 40.425531914894%;
	}
	
	.col-460 {
		width: 48.936170212766%;
	}	
	.col-540 {
		width: 57.446808510638%;
	}
	
	.col-620 {
		width: 65.957446808511%;
	}
	
	.col-700 {
		width: 74.468085106383%;
	}
	
	.col-780 {
		width: 82.978723404255%;
	}
	
	.col-860 {
		width: 91.489361702128%;
	}
	
	.col-940 {
		width: 100%;
	}
	#featured .hero-copy {
		padding: 0;
		margin: 50px 0 0 30px;
		bottom: 10px;
	}
	#home-left.col-300 {
		width: 48.936170212766%;
	}
	#home-middle.col-300 {
		width: 48.936170212766%;
		margin-left: 0;
		margin-right: 0;
		margin:0;
	}
	#home-middle.col-300 img {
		margin:0 0 10px 60px;
		padding:0;
		vertical-align: top;
		margin-top: -10px;
	}
	#home-right.col-300 {
		width: 100%;
		margin-bottom: 5px;
	}
	.hide-768 {
        display: none;
    }
    .show-768 {
        display: block;
    }
    .call-to-action .show-768 {
    	display: inline;
    }

}

@media screen and (min-width: 980px) {
	
    body {}
	
	#container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0px;
	}
	
	#header {
		max-width:1250px;
		margin:0 auto;
		height:222px;
	}
	#header form#location {
	    padding: 0 0 20px;
    }
    .top-menu {
	    padding-bottom: 30px;
    }
    .top-menu li.current a {
	    padding-bottom:4px;
    }
	.hero-wrapper {
		max-width: 960px;
		margin: 0 auto;
		position: relative;
		overflow: auto;
		height: 345px;
	}
	.drawer {
		top: 178px;
	}
	#featured .call-to-action a.button {
		font-size: 18px;
	}
	#featured .hero-copy {
		width: 260px;
		bottom: 17px;
		margin: 50px 0 0 0;
	}
	#footer-wrapper {
	margin: 0 auto;
	max-width: 1250px;
	padding: 0px;	
	}
	#footer-wrapper .col-220 {
		width: 23.404255319149%;
	}
	.home-widgets {
		max-width:960px;
		margin:0 auto;
	}
	.home #widgets h2 {
		font-size: 28px;
		font-weight: normal;
	}
	#home-right.col-300, #home-left.col-300, #home-middle.col-300 {
		width: 31.914893617021%;
		margin-right: 2.127659574468%;
		margin-bottom: 2.127659574468%;
	}
	#home-middle.col-300 img {
		margin: 20px 0 0 20px;
	}
	
    .grid, 
	.grid-right {
	    float: left;
    }
	#logo {
		margin: 53px 0 0 23px;
	}
	#logo img {
		width: auto;
		height: auto;
	}
	#featured .call-to-action {
		bottom: 10px;
		left:280px;
	}
	#featured {
		background: #05b9e4 url('../img/big-hero.jpg') center 0 no-repeat;
		min-height: 345px;
	}
	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
    }
	.featured-title {
		font-size: 41px;
		letter-spacing: .5px;
		font-family:'DINNextW01-CondensedReg';
	}
	.featured-subtitle {
		font-size:20px;
	}
	
	.home #widgets {
		margin-top: 40px;
	}
    .home-widgets .textwidget .blurb {
		padding-top: 28px;
	}
	.home #widgets .get-started h3 {
		width: auto;
	}
    .top-widget,
    .home .top-widget {
        margin-top: 0 !important;
    }
        
    .top-menu li a {
    	font-size:16px;
    }
    nav ul li a {
	    font-size: 20px;
	    padding: 0 .5em;
	}
	.ortho-accel-logo {
		width: 247px;
		height: 80px;
		margin-right: 35px;
	}
	span.customSelect {
		width: 211px;
	}
	.top-menu {
		padding-right: 24px;
	}
	#header .social {
		display: table-cell;
		padding: 0 0 5px 15px;
		margin: 0;
		vertical-align: bottom;
	}
	#header ul.social-icons li {
		margin: 40px 0 0 11px;
	}
	#header .social .social-icons {
		padding: 0;
		margin: 0;
		vertical-align: bottom;
	}
	
	.social ul.social-icons li a {
		width: 28px;
		height: 28px;
	}
	.social .social-icons li a.social-icons-youtube {
		background-position: 0 -212px;
	}
	.social .social-icons li a.social-icons-facebook {
		background-position: 0 -241px;
	}
	.social .social-icons li a.social-icons-blog {
		background-position: 0 -183px;
	}
	#footer .social {
		padding: 0;
	}
	.menu-form {
	    padding-right:33px;
	    padding-top: 20px;
    }
    .home #widgets h2:first-child {
    	margin-top: 0;
    }
    .home-widgets p {
	    font-size: 16px;
	    color: #68676c;
	    width: 280px;
    }
    .get-started {
    	margin-top: 22px;
    	background: #FAFAFA url('../img/bg-fold-large.png') 0 0 no-repeat;
    	padding-top:0;
    }
    .get-started .form-wrapper {
	    min-width: auto;
	    float: none;
	    padding: 0 20px;
    }
    .get-started .form-header {
	    margin-bottom: 1.5em;
    }
    .home #widgets .get-started h2 {
    	font-size: 32px;
    }
    .home #widgets .get-started h3 {
    	font-size: 17px;
    }
    .find-doctor {
	    padding: 0;
    }
    .find-doctor .form-header {
    }
    .find-doctor .text-input:first-child {
		margin-bottom:10px;
    }
	.find-doctor .text-input {
		font-size: 15px;
		line-height:30px;
		margin-bottom: 0px;
	}
	.find-doctor label {
		font-size: 15px;
		line-height: 30px;
		width: 25%;
		height:auto;
	}
	.find-doctor input[type=text] {
		font-size: 15px;
		margin-top:-1px;
		line-height: 30px;
		height: 30px;
		width: 75%;
	}
	.find-doctor .or {
		font-size: 15px;
		line-height: 30px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
    #featured .call-to-action a.button, #widgets #widgets .call-to-action a.button {
    	padding: 0.5em 1.5em .4em 1.5em;
    	line-height:20px;
    }
    #featured .call-to-action a.button .arrow svg, #widgets .call-to-action a.button .arrow svg {
	    width:20px;
	    height:20px;
    }
    #widgets .call-to-action {
    	margin-top: 10px;
    }
    #widgets .call-to-action a.button {
    	padding: 0.5em 2em .4em 1.5em;
    	line-height:20px;
    	font-size: 18px;
    	vertical-align: middle;
    }
    #footer .social-icons {
		text-align:left;
		margin-left: 60px;
	}
	ul.social-icons li {
		margin: 0 0 0 9px;
		font-size: 10px;
	}
	ul.social-icons li a {
		width:26px;
		height:26px;
	}
	.social .social-icons li a.social-icons-youtube {
		background-position: 0 -359px;
	}
	.social .social-icons li a.social-icons-facebook {
		background-position: 0 -388px;
	}
	.social .social-icons li a.social-icons-blog {
		background-position: 0 -281px;
	}
	#footer .col-220 .padding {
		padding: 0 0 0 60px;
	}
	#footer a.list-title {
		width: auto;
		background: transparent;
		color: #0070b0;
		text-transform: none;
		font-size: 14px; 
		padding: 0 0 0 60px;
		line-height: 1;
	}
	#footer a.list-title.hide-980 {
		display: none;
	}
    .footer-list {
    	padding: 0;
	    font-size: 14px;
	    font-weight: normal;
    }
    .footer-list li {
		padding: 0 0;
		border: 0;
		line-height: 1.5em;
	}
	#footer .find-us {
		margin-left:60px;
		font-size: 14px;
	}
	.ortho-accel-logo {
		margin-left: 60px;
	}	
	
    .hide-980 {
        display: none;
    }
    
    .show-980 {
        display: block;
    }
    
}


@import "../img/sprites/social-icons/*.png";
@include all-social-icons-sprites;

@import "../img/sprites/select/*.png";
@include all-select-sprites;
