/*
Theme Name: Acceledent 
Theme URI: http://themeid.com/responsive-theme/ 
Description: Child theme of Responsive

Version: 1.8.9.3
Author: ThemeID 
Author URI: http://www.portent.com/
Template: responsive

Responsive WordPress Theme, Copyright (C) 2013-2014 Portent, Inc. 




/* =Reset CSS (v2.0) http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */

@import "compass";
@import "compass/css3";
@import "useful-mixins";
@import "variables";

@import "forms";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0; 
	font-size: 100%;
	font: inherit;
    margin: 0;
	padding: 0;
	vertical-align: baseline; 
}

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, select, textarea {
	font-size: 100%;
	overflow: visible;
	margin: 0;
	vertical-align: baseline;
	width: auto;
}

textarea {
	overflow: auto;
	vertical-align: text-top;
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
	background: $dotted-horiz;
	border: none;
	clear: both;
	color: #ddd;
	float: none;
	height: 1px;
	width: 100%;
}

.hr {
	margin: 0 0 2em;
}
hr.space {
	background: #fff;
	color: #fff;
}

/* =Base
-------------------------------------------------------------- */
html {
	height: 100%;
}

body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	color: #68676c;
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	font-size: $base-font-size;
	font-smoothing: antialiased;
	line-height: $base-line-height;
	text-rendering: optimizeLegibility;
}
/* =Typography
-------------------------------------------------------------- */
p {  
    word-wrap: break-word;
}

i,
em,
dfn,
cite {
	font-style: italic;
}

tt,
var,
pre,
kbd,
samp,
code {
	font-family: monospace, serif;
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

pre {
    -moz-box-sizing: border-box;   
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
	background: #f4f4f4;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
    height: auto;
	margin: 0;
	outline: none;
	padding: 6px 10px;
	vertical-align: middle;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

del {
	color: #555;
	text-decoration: line-through;
}

ins, 
dfn {
	border-bottom: 1px solid #ccc;
}

sup, 
sub,
small {
	font-size: 85%;
}

abbr, 
acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a abbr, 
a acronym {
	border: none;
}

dfn[title],
abbr[title], 
acronym[title] {
	border-bottom: 1px solid #ccc;
	cursor: help;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

/*page templates */


/* =Responsive 12 Column Grid
    http://themeid.com/responsive-grid/
-------------------------------------------------------------- */
.grid {
	float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.grid-right {
	float: right;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.col-60, 
.col-140, 
.col-220, 
.col-300, 
.col-380, 
.col-460, 
.col-540, 
.col-620, 
.col-700, 
.col-780, 
.col-860 {
	display: inline;
	margin-right: 2.127659574468%;
}


.fit {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* =Visibility
-------------------------------------------------------------- */
.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.none {
    display: none;
}

.hide-desktop {
    display: none;
}

.show-desktop {
    display: block;
}

/* =Responsive Images
-------------------------------------------------------------- */
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
	height: auto;
	max-width: 100%;
    vertical-align: middle;
}
.ie8 img {
    height: auto; 
    width: auto\9; 
}

.ie8 img.size-large {
	max-width: 60%;
	width: auto;
}

/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed,
object {
	max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

/* =Links
-------------------------------------------------------------- */
a {
	color: $dark-blue;
	font-weight: 400;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #444;
    outline: 0;
	text-decoration: none;
}

::selection {
	background: $light-blue;
    color: #fff;
	text-shadow: none;
}

/* =Forms
-------------------------------------------------------------- */
label {
	display: inline-block;
	font-weight: 700;
	padding: 2px 0;
}

legend {
	padding: 2px 5px;
}

fieldset {
	border: 1px solid #ccc;
	margin: 0 0 1.5em;
	padding: 1em 2em;
}

select,
input[type="text"], 
input[type="password"] {
    -moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	margin: 0;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	width: 100%;
}

select {
	height: auto;
	width: 100%;
}

area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	height: auto;
	overflow: auto;
	margin: 0;
	outline: none;
	padding: 8px 10px;
	width: 100%;
}

input, 
select {
	cursor: pointer;
}

area:focus,
input:focus, 
textarea:focus {
    border: 1px solid #6cf;
}

input[type='text'], 
input[type='password'] {
	cursor: text;
}

/* =IE Forms
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"], 
.ie7 input[type="password"] {
    width: 96%;
}

/* =Buttons
-------------------------------------------------------------- */
a.button,
input[type='reset'], 
input[type='button'], 
input[type='submit'] {
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
    line-height: 20px;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid $darker-blue;
	color: #333;
	@include border-radius(60px);
	background: #0077b5;
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.button:hover,
input[type='reset']:hover, 
input[type='button']:hover, 
input[type='submit']:hover {
	border: 1px solid $darker-blue;
	color: #333;
	background: #005195;
	color: #fff;
}

a.button:active,
input[type='reset']:active, 
input[type='button']:active, 
input[type='submit']:active {
    border: 1px solid $darker-blue;
	color: #333;
	background: #005195;
	color: #fff;
}


/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
	text-align: center;
}

.call-to-action a.button {
	vertical-align: middle;
	text-transform: uppercase;
	font-family:'DIN Next W01 Medium', Arial, Helvetica, sans-serif;
	font-weight:normal;
	@include box-sizing(border-box);
}
.call-to-action a.button svg, .call-to-action a.button img {
	vertical-align: middle;
	margin-top:-2px;
	position:absolute;
}
.call-to-action a.button .arrow {
	padding-left: 0.550em;
}
.call-to-action a.button:hover {
	text-decoration: none;
}

.ie7 .call-to-action a.button {
    padding: 11px 35px 19px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
	font-size: 10px;
	padding: 3px 6px;
}

.medium a.button {
	font-size: 16px;
	padding: 8px 16px;
}

.large a.button {
	font-size: 18px;
	padding: 10px 35px;
}

.xlarge a.button {
	font-size: 24px;
	padding: 12px 55px;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
	border: 1px solid $darker-blue;
	@include border-radius(60px);
	background: #0077b5;
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.blue:hover {
	border: 1px solid $darker-blue;
	@include border-radius(60px);
	background: #005195;
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.red {
	border: 0;
	@include border-radius(60px);
	background-color: $bright-red; // Old browsers
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

a.red:hover {
	border: 0;
	@include border-radius(60px);
	background: $bright-red + 15;
	color: #fff;
	box-shadow:none;
	text-shadow:none;
}

/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 20px 0;
	padding: 15px;
	text-align: left;
}

.alert {
	background-color: #faebeb;
	border: 1px solid #dc7070;
	color: #212121;
}

.address {
	background-color: #f6f5ef;
	border: 1px solid #cdc9a5;
	color: #212121;
}

.notice {
	background-color: #fbf9e9;
	border: 1px solid #e3cf57;
	color: #212121;
}

.success {
	background-color: #f9fde8;
	border: 1px solid #a2bc13;
	color: #212121;
}

.download {
	background-color: #fff4e5;
	border: 1px solid #ff9912;
	color: #212121;
}

.information {
	background-color: #eef3f6;
	border: 1px solid #6ca6cd;
	color: #212121;
}

.required {
	color: #d5243f;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	color: #212121;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px;
	position: absolute;
	top: 60px;
	text-align: center;
	width: 100%;
}

.msie-box a {
	color: #212121;
}

/* =Tables
-------------------------------------------------------------- */
th, 
td,
table {
	border: 1px solid #ddd;
}

table {
	border-collapse: collapse;
	width: 100%;
}

/* =Lists
-------------------------------------------------------------- */
ul {
	list-style-type: disc;
    margin: 0;
    padding: 0;
}

ol {
	line-height: 22px;
	list-style-position: outside;
	list-style-type: decimal;
    margin: 0;
    padding: 0;
}

dt {
	font-weight: 400;
}

/* =Blockquote
-------------------------------------------------------------- */
blockquote {
	background: #f9f9f9;
	border: none;
	border-left: 4px solid #d6d6d6;
	margin: 20px;
	overflow: auto;
	padding: 0 0 10px 12px;
}

blockquote p {
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 18px;
	line-height: 26px;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: normal;
	line-height: 1.0em;
    word-wrap: break-word;
}

h1 {
    font-size: 2.625em; /* = 42px */
    margin-bottom: .5em;
    margin-top: .5em;
}
h2 {
    font-size: 2.250em; /* = 36px */
    margin-bottom: .75em;
    margin-top: .75em;
}

h3 {
    font-size: 1.875em; /* = 30px */
    margin-bottom: .857em;
    margin-top: .857em;
}

h4 {
    font-size: 1.500em; /* = 24px */
    margin-bottom: 1em;
    margin-top: 1em;
}

h5 {
    font-size: 1.125em; /* = 18px */
    margin-bottom: 1.125em;
    margin-top: 1.125em;
}

h6 {
    font-size: 1.000em; /* = 16px */
    margin-bottom: 1.285em;
    margin-top: 1.285em;
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p, 
hr, 
dl, 
pre,
form,
table,
address, 
blockquote {
	margin: 1em 0;
}

th, td {
	padding: .8em;
}

caption {
	padding-bottom: .8em;
}

blockquote {
	padding: 0 1em;
}

blockquote:first-child {
	margin: .8em 0;
}

fieldset {
	margin: 1.6em 0;
	padding: 0 1em 1em;
}

legend {
	padding-left: .8em;
	padding-right: .8em;
}

legend+* {
	margin-top: 1em;
}

input,
textarea {
	padding: .3em .4em .15em;
}

select {
	padding: .1em .2em 0;
}

option {
	padding: 0 .4em;
}

dt {
	margin-bottom: .4em;
	margin-top: .8em;
}


ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 2.0em;
}

li ul,
li ol {
    margin: 0;
}

form div {
	margin-bottom: .8em;
}

/* =Globals
-------------------------------------------------------------- */
#container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0px;
}

#wrapper {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/*border: 1px solid #e5e5e5;*/
	border-radius: 4px;
	clear: both;
	margin: 20px auto 20px auto;
	padding: 0 0 20px 0;
	position: relative;
}

.home #wrapper, .page-template-doctors-php #wrapper {
	background-color: transparent;
	border: none;
	margin: 20px auto 0 auto;
	padding: 0;
}

#header {
	margin: 0;
	position: relative;
}

#footer {
	clear: both;
	margin: 0 auto;
	/*max-width: 960px;*/
	width: 100%;
	padding: 25px 25px 0 25px;
	border-top:1px solid #82dcf2;
	position: relative;}

#footer-wrapper {
	margin: 0;
	padding: 0;
}

/* =Header
-------------------------------------------------------------- */
#logo {
	float: left;
	margin: 0;
}

.site-name {
	display: block;
	font-size: 2.063em; /* = 33px */
    line-height: 1.0em;
	padding-top: 20px;
}

.site-name a {
    color: #333;
	font-weight: 700;
}

.site-description {
    color: #afafaf;
	display: block;
	font-size: 0.875em; /* = 14px */
	margin: 10px 0;
}

/* =Content
-------------------------------------------------------------- */
#content {
	margin-bottom: 20px;
}

#content-full {
	margin-bottom: 20px;
}
#content-blog {
	margin-bottom: 20px;
}

#content-images {
	margin-bottom: 20px;
}

#content-search {
    margin-bottom: 20px;
    margin-top: 20px;
}

#content-archive {
	margin-bottom: 20px;
}

#content-sitemap {
	margin-bottom: 20px;
}

#content-sitemap a {
	font-size: 12px;
}

#content .sticky {
	clear: both;
}

#content .sticky p {}

/* =Templates (Landing Page)
-------------------------------------------------------------- */
.page-template-landing-page-php .menu, 
.page-template-landing-page-php .top-menu,
.page-template-landing-page-php .tinynav,
.page-template-landing-page-php .footer-menu, 
.page-template-landing-page-php .sub-header-menu {
	display: none;
}

/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background: #f9f9f9;
	border: 1px solid #d6d6d6;
    border-radius: 4px;
	clear: both;
	display: block;
	margin: 30px 0 40px 0;
    padding: 10px;
	overflow: hidden;
}

#author-meta img {
	float: left;
	padding: 10px 15px 0 5px;
}

#author-meta p {
    margin: 0;
	padding: 5px;
}

#author-meta .about-author {
	font-weight: 700;
	margin: 10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
#featured {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: $light-blue;
	border: 0;
	padding-bottom: 0;
	width: 99.893617021277%;
	background-position: 99% 0;
	background-size: auto 230px;
	background-repeat: no-repeat;
}

.page-template-doctors-php #featured {
	background-position: 99% 0;
	background-size: auto 230px;
	background-repeat: no-repeat;
}

#featured p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	padding: 0 40px 0 40px;
	text-align: center;
	color:#fff;
	font-style:italic;
}

#featured-image {
	margin: 40px 0 0 0;
	background-size: auto 230px;
	height:230px;
	margin-bottom: 17px;
	border-bottom: 1px solid #fff;
	display: block;
	float: none;
}

.page-template-doctors-php #featured-image {
    margin: 0 0 0 0;
	background-size: auto 230px;
	height:230px;
	margin-bottom: 0px;
	border-bottom: 1px solid #fff;
	display: block;
	float: none;
}


#featured-image .hero {
	border-bottom:1px solid #fff;
	/*background:url('img/big-hero.jpg') 0 0 no-repeat;*/
	height:345px;
	display:block;

}
#featured-image .fluid-width-video-wrapper {
	margin-left: -20px;
}

.featured-image img {
	margin-top: 44px;
}

/* =Post
-------------------------------------------------------------- */
.comments-link {
	font-size: 12px;
	background: url('img/comment.png') 0 center no-repeat;
	padding: 0 0 0 2em;
	margin: 0 0 0 2em;
}

#cancel-comment-reply-link {
	color: #900;
}

.post-data {
	clear: both;
	font-size: 12px;
	font-weight: 700;
	margin-top: 20px;
}

.post-data a {
	color: #111;
}

.archive .post-entry, .search .post-entry {
	clear: both;
	background: $dotted-horiz;
	margin-bottom: 30px;
	padding-top: 0;
}

.post-meta {
	clear: both;
	color: $dark-blue;
	font-size: 16px;
	margin-bottom: 10px;
}

.post-edit {
	clear: both;
	display: block;
	font-size: 12px;
	margin: 1.5em 0;
}

.post-search-terms {
	clear: both;
}

.read-more {
	clear: both;
	font-weight: 700;
	padding-bottom: 6px;
}

.read-more a {
	color: $light-blue;
}

.read-more a:hover {
	color: $dark-blue;
}
.attachment-entry {
	clear: both;
	text-align: center;
}

/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
	display: none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
	color: #aaa;
	font-size: 18px;
	margin-left: 5px;
}

.form-allowed-tags {
    display: none;
	font-size: 10px;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	margin: 0 0 20px;
	padding: 20px;
}

.widget-wrapper select,
.widget-wrapper input[type="text"], 
.widget-wrapper input[type="password"] {
    width: 75%;
}

#widgets { 
	margin-top: 20px;
}

.home #widgets, .page-template-doctors-php #widgets {
	margin-top: 0;
}

#widgets a {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}


#widgets .tagcloud a {
	color: #fff;
	background: $light-blue;
	font-size: 24px !important;
	padding: .25em;
	@include border-radius(4px);
	margin-bottom: .5em;
}

#widgets .tagcloud a:hover {
	background: $dark-blue;
}

#widgets form {
    margin: 0;
}

#widgets ul,
#widgets ol {
    padding: 0;
    margin: 10px 0 28px;
    list-style: none;
    list-style-type: none;
}

#widgets ul li {
	background: url('img/dotted-line-gray.png') 0 100% repeat-x;
	font-size: 24px;
	line-height: 1.25em;
	padding: 13px 0 13px 32px;
	text-transform: none;
}

#widgets ul li.current-cat a, #widgets ul li a:hover {
	color: $dark-blue;
	background: url('img/category-arrow-hover.png') 0 center no-repeat;
}

#widgets ul li a {
	display: block;
	text-decoration: none;
	color: #666666;
	background: url('img/category-arrow.png') 0 center no-repeat;
	padding-left: 20px;
}
#widgets .widget-title {
	text-align: left;
	margin: 0 0 0 40px;
}

#widgets .widget-title img {
	float: right;
	height: 11px;
	position: relative;
	top: 4px;
	width: 11px;
}

#widgets .rss-date {
	line-height: 18px;
	padding: 6px 12px;
}

#widgets .rssSummary {
	padding: 10px;
}

#widgets cite {
	font-style: normal;
	line-height: 18px;
	padding: 6px 12px;
}

#widgets .tagcloud,
#widgets .textwidget {
	display: block;
	line-height: 1.5em;
	margin: 0;
	word-wrap: break-word;
}
#widgets .tagcloud {
	margin-top: 1em;
}
#widgets .textwidget a {
	display: inline;
}

#widgets ul .children {
	padding: 0 0 0 10px;
}

#widgets .author {
	font-weight: 700;
	padding-top: 4px;
}

.widget_archive select, #cat {
	display: block;
	margin: 0 15px 0 0;
}

#colophon-widget ul {}

.colophon-widget {
	background: none;
	min-height: 0;
}

.colophon-widget select,
.colophon-widget input[type="text"], 
.colophon-widget input[type="password"] {
	width: 100%;
}

#top-widget {}

.top-widget {
    background: none;
    border: none;
    clear: right;
    float: right;
	min-height:0;
    padding: 0 3px 0 0;
    text-align: right;
    width: 45%;
}

.top-widget ul {
    padding: 0;
}

.top-widget select, 
.top-widget input[type="text"], 
.top-widget input[type="password"] {
    width: auto;
}

.top-widget #searchform {
    margin: 0;
}

/* =Titles
-------------------------------------------------------------- */
.featured-title {
	font-size:  60px;
	letter-spacing: -1px;
	margin: 0;
	padding-top: 40px;
	color: #fff;
	text-align:center;
	font-family:'DINNextW01-CondensedReg', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

.featured-subtitle {
	padding: 0 10px;
	text-align: center;
	color: #fff;
	text-align:center;
	font-family:'DINNextW01-CondensedReg', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

.widget-title, 
.widget-title-home h3 {
	display: block;
	font-size: 24px;
	font-weight: 700;
	line-height: 23px;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: center;
}
.widget-title {
	font-size: 18px;
	color: #00bce4;
	text-align: left;
}
.top-widget .widget-title {
    font-size: 14px;
    padding: 0;
    text-align: right;
}

.widget-title a {
	border-bottom: none;
	padding: 0 !important;
}

.title-404 {
	color: #933;
}

/* =404 Page 
-------------------------------------------------------------- */
.error404 select, 
.error404 input[type="text"], 
.error404 input[type="password"] {
    width: auto;
}

/* =Top Menu
-------------------------------------------------------------- */
.top-menu {
	float: right;
	margin: 10px 0 0;
    padding: 0;
    text-transform:uppercase;
    font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
}

.top-menu li {
	display: inline;
	list-style-type: none;
	
}

.top-menu li a {
	border-left: 1px solid $dark-blue;
	color: #333;
	font-size: 18px;
	padding: 0 4px 4px 8px;
}
.top-menu li:first-child a, .top-menu li.current-page-ancestor a, .top-menu li.current_page_item a, .doctors-pages .top-menu li a {
	color:$dark-blue;
}
.page-template-doctors-php .top-menu li:first-child a, .parent-pageid-75 .top-menu li:first-child a, .doctors-pages .top-menu li:first-child a {
	color: #333;
	background: none;
}
.top-menu > li:first-child > a {
	border-left: none;
}

.top-menu li a:hover {
	color: $dark-blue !important;
}
@media screen and (max-width: 767px) {

#nav ul li.current_page_item ul {
	display: block;
}
#nav ul li.current_page_item ul li {
	position: relative;
}
#nav ul li.current_page_item ul li a {
	background:transparent;
	color: $dark-blue;
	font-size: 12px;
	line-height: 1.5;
	background: $dotted-horiz-top;
	padding: .5em 2.5em;
}
#nav ul li.current_page_item ul li a:before {
	content:'';
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
    width: 0;
    height: 0;
    padding-right: .5em;
    border-top: 4px solid transparent;
    border-left: 9px solid $dark-blue;
    border-bottom: 4px solid transparent; 
}
#nav ul li.current_page_item ul li a:hover {
	color: $light-blue;
}
#nav ul li.current_page_item ul li:first-child a {
	background: none;
} 
}
/* =Header Menu (Primary)
-------------------------------------------------------------- */
.menu {
	background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(top, #585858, #3d3d3d);
	clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d);
	margin: 0 auto;
}

.menu, 
.menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

.menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.menu li li {
	float: none;
}

.menu ul {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 10;
}

.menu li:hover > ul {
	top: 100%;
	visibility: visible;
}

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu:after, 
.menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.menu, 
.menu ul {
	min-height: 0;
}

.menu ul,
.menu ul ul {
	margin: 0;
	padding: 0;
}

.menu ul li a:hover, 
.menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.menu ul {
    margin-top: 1px;
	min-width: 15em;
	width: auto;
}

.menu a {
	border-left: 1px solid #585858;
	color: #fff;
    cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: 700;
	height: 45px;
	line-height: 45px;
	margin: 0;
	padding: 0 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
}

.menu a:hover {
	background-color: #808080;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
	background-image: -webkit-linear-gradient(top, #808080, #363636);
	background-image: -moz-linear-gradient(top, #808080, #363636);
	background-image: -ms-linear-gradient(top, #808080, #363636);
	background-image: -o-linear-gradient(top, #808080, #363636);
	background-image: linear-gradient(top, #808080, #363636);
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#363636);
}

.menu .current_page_item a,
.menu .current-menu-item a {
	background-color: #343434;
}

.home .menu .current_page_item a {
    background: none;
	background-color: transparent;
    background-image: none;
    filter: none;
}

.menu li li {
	background: #fff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444;
	filter: none;
    margin: -1px 0 1px 0;
	width: auto;
}

.menu li li a {
	background: transparent !important;
	border: none;
	color: #444;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	text-shadow: none;
	white-space: nowrap;
}

.menu li li a:hover {
	background: #f5f5f5 !important;
	background-image: none;
	border: none;
	color: #444;
	filter: none;
}

.menu ul > li + li {
	border-top: 0;
}

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu > li:first-child > a {
	border-left: none;
}

/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .menu ul {
	background: url(images/ie7-fix.gif) repeat;
}

.ie7 .menu li li a  {
    min-width: 100%;
}

/* =Responsive Menu
    TinyNav + SelectBox
-------------------------------------------------------------- */
.tiny#nav { 
    display: none 
}

.sb-holder {
	background-color: #3d3d3d;
    display: none;
    height: 30px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.sb-holder:focus .sb-selector {}

.sb-selector {
    display: block;
    height: 30px;
    left: 0;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 100%;
}

.sb-selector:link,
.sb-selector:visited,
.sb-selector:hover {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
}

.sb-toggle {
    background: url(images/select-icons.png) 0 6px no-repeat;
    display: block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.sb-toggle-open {
    background: url(images/select-icons.png) 0 -45px no-repeat;
}

.sb-holder-disabled {
    background-color: #3c3c3c;
    border: 1px solid #515151;
}

.sb-holder-disabled .sb-holder {}

.sb-holder-disabled .sb-toggle {}

.sb-options {
    background-color: #fff;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
}

.sb-options li {
    padding: 0;
}

.sb-options a {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    font-size: 11px;
    outline: none;
    padding: 4px;
    text-indent: 4px;
}

.sb-options a:link,
.sb-options a:visited {
    color: #444;
    text-decoration: none;
}

.sb-options a:hover,
.sb-options a:focus,
.sb-options a.sb-focus {
    background-color: #f5f5f5;
    color: #444;
}

.sb-options li.last a {
    border-bottom: none;
}

.sb-options .sb-disabled {
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}

.sb-options .sb-group {
    border-bottom: dotted 1px #515151;
    color: #ebb52d;
    display: block;
    font-weight: 700;
    padding: 7px 0 7px 3px;
}

.sb-options .sb-sub {
    padding-left: 17px;
}

/* =Sub-Header Menu
-------------------------------------------------------------- */
.sub-header-menu {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
	clear: both;
	margin: 0 auto;
}

.sub-header-menu, 
.sub-header-menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sub-header-menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

.sub-header-menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.sub-header-menu li li {
	float: none;
}

.sub-header-menu ul {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 10;
}

.sub-header-menu li:hover > ul {
	top: 100%;
	visibility: visible;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu:after, 
.sub-header-menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.sub-header-menu, 
.sub-header-menu ul {
	min-height: 0;
}

.sub-header-menu ul,
.sub-header-menu ul ul {
	margin: 0;
	padding: 0;
}

.sub-header-menu ul li a:hover, 
.sub-header-menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.sub-header-menu ul {
    margin-top: 1px;
	min-width: 15em;
	width: auto;
}

.sub-header-menu a {
	border-left: 1px solid #e5e5e5;
	color: #333;
    cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: none;
}

.sub-header-menu a:hover {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-color: #f9f9f9;
	background-clip: padding-box;
}

.sub-header-menu .current_page_item a,
.sub-header-menu .current-menu-item a {
	background-color: #f9f9f9;
}

.sub-header-menu li li {
	background: #fff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444;
	filter: none;
    margin: -1px 0 1px 0;
	width: auto;
}

.sub-header-menu li li a {
	border: none;
	color: #444;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	text-shadow: none;
}

.sub-header-menu li li a:hover {
	background: #f9f9f9;
	background-image: none;
	border: none;
	color: #444;
	filter: none;
}

.sub-header-menu ul > li + li {
	border-top: 0;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu > li:first-child > a {
	border-left: none;
}

.sub-header-menu ul.children a, 
.sub-header-menu .current_page_ancestor, 
.sub-header-menu .current_page_ancestor ul a {
	background: none;
	background-image: none;
	filter: none;
}

/* =Sub Header Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {
	background: url(images/ie7-fix.gif) repeat;
}

.ie7 .sub-header-menu li li a  {
    min-width: 100%;
}

/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {
	margin-left: 0;
    padding: 0;
}

.footer-menu li {
	display: inline;
	list-style-type: none;
}

.footer-menu li a {
	border-left: 1px solid #ccc;
	color: #333;
	padding: 0 8px;
}

.footer-menu li a:hover {
	color: #222;
}

.footer-menu > li:first-child > a {
	border-left: none;
	padding: 0 8px 0 0;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #111;
	display: block;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	margin: 20px 0;
	padding: 0 5px;
}

.navigation a {
	color: #aaa;
	padding: 4px 10px;
}

.navigation a:hover {
	color: #111;
	text-decoration: none;
}

.navigation .previous {
	float: left;
}

.navigation .next {
	float: right;
}

.navigation .bracket {
	font-size: 36px;
}

/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
	clear: both;
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0;
	padding: 5px 0;
}

.pagination a {
	text-decoration: none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
	font-size: 12px;
	padding: 0 0 0 288px;
	max-width: $desktop-width;
	margin: 0 auto;
}

/* =Comments
-------------------------------------------------------------- */
#commentform {
	margin: 0;
}

.commentlist {
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0;
}

.commentlist .bypostauthor {}

.commentlist li cite {
	color: #111;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
}

.commentlist li.alt {
	background: #f9f9f9;
}

.commentlist .children {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
}

.commentlist .avatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
	padding: 0;
	vertical-align: middle;
}

.comment-author .fn {
}

.comment-author .says {
	color: #999;
}

.comment-body .comment-meta {
	color: #999;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.comment-body .comment-meta a {
	font-size: 11px;
}

.comment-body {
	clear: both;
	padding: 10px;
}

.comment-body p {
	clear: both;
}

.comment-body .reply {
}

.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}

.pingback cite, 
.trackback cite {
	font-style: normal;
}

#pings,
#comments {
	text-align: left;
}

#respond {
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
	background-image: linear-gradient(top, #ffffff, #eaeaea);
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	border-radius: 4px;*/
	clear: both;
    margin-top: 15px;
	padding: 10px 20px 50px;
}

#respond label {
	display: inline;
}

.reply {
	margin: 10px 0;
}

.comment-form-url input,  
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
	display: block;
}

.nocomments {
	color: #999;
	font-size: .9em;
	text-align: center;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter, 
div.aligncenter {
	display: block;
	margin: 5px auto 20px auto;
}

.alignright {
	float: right;
	margin: 5px 0 15px 10px;
}

.alignleft {
	float: left;
	margin: 5px 15px 10px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 15px 10px;
}

a img.alignnone {
	margin: 5px 15px 10px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 15px 10px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #f9f9f9;
	border: 1px solid #cccccc;
	max-width: 96%;
	padding: 13px 10px 10px 10px;
	text-align: center;
}
.thumbnail-wrapper {
	max-width: 100%;
}
.thumbnail-wrapper img {
	background: #f9f9f9;
	border: 1px solid #cccccc;
	padding: 24px;
	text-align: center;
	max-width: 100%;
	@include box-sizing(border-box);
}
.thumbnail-wrapper .wp-caption img {
	border: 0;
	background: transparent;
	padding:0;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0;
	padding: 10px;
}

img.wp-smiley {
	vertical-align: middle;
}

/* =WordPress Gallery
-------------------------------------------------------------- */

.gallery {
}


.gallery-columns-3 .gallery-item {
	width: $col-300;
	float: left;
	margin-right: 2.127659574468%;
	&:nth-of-type(3n+3) {
		margin-right: 0;
	}

}
.gallery br {
	clear: both;
}
.gallery-item {
	@extend .wp-caption;
	@include box-sizing(border-box);
}

.gallery .gallery-icon {
	margin-top: 0;
}

.gallery-item dd {
	@extend p.wp-caption-text;
}
/*.gallery {
	margin: 0 auto 18px;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	max-width: 155px;
}

.gallery img {
	border: 1px solid #ddd;
}

.gallery .gallery-caption {
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery br+br {
	display: none;
}

.attachment-gallery img {
	background: #fff;
	border: 1px solid #cccccc;
	display: block;
	height: auto;
	margin: 15px auto;
	max-width: 96%;
	padding: 5px;
	width: auto;
}

.gallery-meta .iso, 
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,  
.gallery-meta .focal-length {
	display: block;
}
*/
/* =Post Thumbnails 
-------------------------------------------------------------- */
img.wp-post-image,
img.attachment-full,
img.attachment-large, 
img.attachment-medium, 
img.attachment-thumbnail {
	display: block;
	margin: 15px auto;
	width: auto;
}

/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {
	padding: 40px 0 0 0;
}

#breadcrumb a {
	color: $dark-blue;
	font-size: 12px;
	font-weight: 400;
}

#breadcrumb a:hover {
	color: #444;
	text-decoration: none;
}

#content-woocommerce {
	margin-bottom: 20px;
}

.products ul, ul.products {
	margin-top: 40px;
}

.cart-collaterals .shipping_calculator {
	width: 100%;
}

table.shop_table {}

table.cart td.actions .coupon .input-text, 
table.cart td.actions .coupon .input-text {
	cursor: text;
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	font-size: 11px;
	line-height: 1.5em;
}

#footer a {
	color: #4a4c4b;
	font-weight: 400;
}

#footer a:hover {
    color: $light-blue;
}

#footer-wrapper .grid.col-940 {
	margin: 0;
}

.scroll-top {
	text-align: center;
}

.copyright {
	text-align: left;
}

.powered {
	text-align: right;
}

/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
	list-style: none;
	line-height: normal;
    padding: 0;
	margin: 0;
	text-align: right;
}

#footer .yelp-icon,
#footer .vimeo-icon, 
#footer .youtube-icon, 
#footer .twitter-icon,
#footer .facebook-icon, 
#footer .linkedin-icon, 
#footer .rss-feed-icon, 
#footer .instagram-icon,
#footer .pinterest-icon, 
#footer .foursquare-icon,
#footer .google-plus-icon, 
#footer .stumble-upon-icon {
	display: inline;
	margin: 1px;
	padding-left: 3px;
}

/* =Alignments Extras
-------------------------------------------------------------- */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after,
.clearfix:before,
#container:after,
#container:before,
.widget-wrapper:after,
.widget-wrapper:before {
    content: ' ';
    display: table;
}

.clearfix:after,
#container:after,
.widget-wrapper:after {
    clear: both;
}

.ie7 .clearfix,
.ie7 #container,
.ie7 .widget-wrapper {
    zoom: 1;
}

.clear {
	clear: both;
}

.clear-right {
	clear: right;
}

.clear-left {
	clear: left;
}
.cell {
	display: table-cell;
	vertical-align: top;
}
/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
	direction: ltr;
	unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
	direction: rtl;
	unicode-bidi: bidi-override;
}

[DIR="ltr"] {
   direction: ltr;
   unicode-bidi: embed;
}

[DIR="rtl"] {
   direction: rtl;
   unicode-bidi: embed;
}

/* =Media Print
    If you're working on a Child Theme, make sure that all
	media queries are included in your style.css
-------------------------------------------------------------- */
@media print {

    h1 {
	    page-break-before: always;
    }

    h1,  h2,  h3,  h4,  h5,  h6 {
	    page-break-after: avoid;
    }

    ul,  ol,  dl {
	    page-break-before: avoid;
    }
}

/*	Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2012/06/devicepixelrati.html
-------------------------------------------------------------- */
@media 
    only screen and (-moz-min-device-pixel-ratio:1.5), 
    only screen and (-o-min-device-pixel-ratio:3/2), 
    only screen and (-webkit-min-device-pixel-ratio:1.5), 
    only screen and (min-device-pixel-ratio:1.5) {
    
    body {}
}



/*BEGIN CUSTOM STYLES */

/*Custom Select */
#location {
	padding: 0 10px;
}
#location span.customSelect {
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	background-color: #fff; 
	color:#68676c;
	padding:0.5em 7px;
	font-size:18px;
	border:1px solid #44cbeb;
	bottom:0;
	text-transform:uppercase;
	@include background-image(linear-gradient(left,  #ffffff 88%,$light-blue 88%,$light-blue 100%));
}
#location span.customSelect.changed {
	background-color: #f0dea4;
}
#location .customSelectInner {
	background:url('img/arrow-select.png') no-repeat 98% center;
}

/*Get started Form */

.widget-wrapper {
	padding-top:0;
}
.get-started {
	text-align: center;
}
.get-started .form-wrapper {
	
}
.get-started h2 {
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	color:$dark-blue;
	font-weight:normal;
	margin-top:0;
	margin-bottom:.15em;
}
.get-started h3 {
	font-weight:normal;
	margin-top:0;
	margin-bottom:.5em;
}

.home, .page-template-doctors-php {
	.find-doctor span.customSelect {
        width: 69%;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        line-height: 41px;
        height: 41px;
        font-size: 11px;
    }
	.find-doctor span.customSelect {
	    font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	    color:#68676c;
	    bborder: 1px solid $bright-red;
	    text-transform:uppercase;
	    background-color: #ffffff;
	    color: #000;
	    @include background-image(linear-gradient(left, #ffffff 80%, $bright-red 80%, $bright-red 100%));
	    display:inline;
	    @include box-sizing(border-box);
	}
	.find-doctor .customSelect {
	    width: auto;
	    text-align: left;
	    @include box-sizing(border-box);
	}
	.find-doctor .customSelectInner {
	    background: url('img/arrow-select-small.svg') 88% center no-repeat;
	    width: 100% !important;
	    text-indent: 0;
	    text-transform: none;
	}
	.find-doctor .or {
		color: $bright-red;
	}
}

.find-doctor .text-input {
	@include border-radius(20px);
	border:1px solid #cccccc;
	box-shadow: (#dfdfdf 1px 1px 10px);
	padding:4px;
	clear:both;
}

.find-doctor label {
	@include border-radius(20px 0 0 20px);
	background-color: $bright-red; // Old browsers
	@include background-image(linear-gradient(left,  $bright-red 0%,$bright-red 100%));
	color:#fff;
	text-align:center;
	display:inline-block;
	line-height: 30px; 
	height:30px;
	padding:0;
	text-transform:uppercase;
	width:31%;
	}
.find-doctor input[type=text], .find-doctor span.customSelect {
	border:1px solid $bright-red;
	@include border-radius(0 20px 20px 0);
	display:inline-block;
	line-height: 40px;
	height:40px;
	padding:0;
	text-indent: .5em;
	margin-top:-2px;
	width:69%;
} 
.find-doctor {
	.text-input.country label, .text-input.postal label, .text-input.city label {
		font-size: 16px;
		min-height: 20px;
		vertical-align: top;
	}
}
.find-doctor .or {
	text-transform: uppercase;
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	color:$bright-red;
	text-align:center;
	margin:0 auto;
	display:block;
}
#widgets .call-to-action {
	padding:2em 0 3em;	
}
/*social icons */  

.social {
	text-align:center;
}
#widgets ul.social-icons {
	margin:0 auto;
	overflow: auto;
	padding:0;
	text-align:center;
}
ul.social-icons li {
  list-style: none;
  display:inline-block;
  margin:0 0 0 16px;
 }
ul.social-icons li a {
  width: 48px;
  height: 49px;
  display:block;
}
ul.social-icons li a:hover {
	opacity: .5;
}
ul.social-icons li:first-child {
	margin:0;
}

.contact-us {
	background:#00bde0;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	font-size:28px;
	padding:.5em 0;
	margin:0 0 1em 0;
}
.about-us {
	font-size: 21px;
	color:$dark-blue;
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	margin:0 0 1em 0;
}
#footer .about-us a {
	color:$dark-blue;
}
.copyright {
	background:#00bde0;
	color:#fff;
	text-align: center;
	padding:22px 0;
	margin:22px 0 0;
}
.copyright a {
	color: #fff;
}
#nav {
	font-size:20px;
}
#nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
#nav ul li a {
	display: block;
	text-decoration: none;
	background: $dark-blue url('img/blue-arrow.png') 95% center no-repeat;
	color: white;
	padding: 1em;
	margin-bottom: 1px;
	text-transform: uppercase;
}
#nav ul li.current_page_item a {
	background: $light-blue url('img/blue-arrow.png') 95% center no-repeat;
}
#nav ul li a .arrow {
	float:right;
}
#nav ul li a:hover {
	color:#fff;
	background: $light-blue url('img/blue-arrow.png') 95% center no-repeat;
}
#nav li:hover > ul
{
	display: block;
}
.drawer {
	margin:0 0 20px 0;
}
.drawer.active {
	display: block;
}

.searchdiv {
		margin: 0 auto;
 	}
	.resultsdiv {
		margin: 0 auto;
		text-align:left;
	}
	.resultsdiv ul {
		padding:0;
	}
	.resultsdiv h3 {
		margin-bottom:0px;
	}
	.resultsdiv ul li {
		list-style:none;
	}
	.searchtable {
		width:100%;
		border:0;
	}
	.searchtable td {
		padding: 5px;
	}
	.searchheader {
		font-weight:bold;
		font-size:24px;
	}
	.searchlabel {
		font-weight:bold;
		text-align:right;
	}
	.searchtextfield {
		width:200px;
	}
	.searchbutton {
		width:120px;
	}
	.locator-infobox {
	}
	.ui-infobox-content {
		font-family: Arial;
		text-align: left;
		padding: 10px 18px 15px 43px !important;
		width: 217px;
		height:119px;
		background: url('img/map_popup.png') no-repeat;
		line-height: 1.3em;
		font-size:11px;
		color: #1e5a7e;
	}
	.ui-infobox-content h3 {
		margin:0 0 11px;
		padding: 3px 0 0;
		color: #ffffff;
		font-size: 13px;
		font-weight:bold;
		/*white-space:nowrap;*/
	}	
	.ui-infobox-content span {
		display:inline-block;
		font-weight:bold;
		margin-bottom:2px;
	}
	.ui-infobox-content div {
		margin-top:3px;
	}
	.ui-infobox-content a {
		color:#0000ff;
		font-weight:bold;
		text-decoration:none;
	}
/* Fallbacks */

.no-csstransforms .top {
  position: static;
}

.no-csstransforms .drawer #nav {
  display: block;
}

.no-csstransforms .drawer.active #nav {
  display: block;
}

.footer-list {
	list-style: none;
	text-align:left;
	padding-left:0;
}
.footer-list ul {
	list-style: none;
	text-align:left;
	padding-left:0;
}
#footer .footer-list .list-title {
	color: $dark-blue;
}

/*Page specific */

.title-wrapper {
	background: $light-blue;
	padding:8px 0;
	line-height: 18px;
	min-height: 14px;
}

.page-template-asset-library-page-php .title-wrapper {
 	background: $dark-blue;
}
h1.post-title {
	color:#fff;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0 auto;
	padding: 0 0 0 288px;
	max-width: $desktop-width;
}
.post-wrapper h1.post-title {
	color: $dark-blue;
	text-align: left;
	line-height:1em;
	margin: 0 0 0.75em;
	padding: 0 0 0 0;
	width: auto;
	font-size: 24px;
	text-transform: none;
}
.post-entry p {
	font-size: inherit;
}
.content-wrapper {
	max-width: $desktop-width;
	margin: 0 auto;
	overflow: auto;
}
.content-wrapper .post-entry h2 {
	font-size: 28px;
	color: $dark-blue;
}



/* =Responsive (Mobile) Design
-------------------------------------------------------------- */


/*Menu */
/*
@media screen and (max-width: 240px) {

    span.customSelect {
	font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
	font-size:18px;
	}
	
    body {}
	
	.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860 {
		width:100%;
	}
	
	#featured p {
	    font-size: 11px;
		line-height: 1.5em;
    }

    .featured-title {
	    font-size: 20px;
    }
	
	.featured-subtitle {
		font-size: 11px;
	}

    
    .top-widget area,
    .top-widget select,
    .top-widget textarea,
    .top-widget input[type="text"], 
    .top-widget input[type="password"] {
        width: 75%;
    }
    
    .widget-title,
    .widget-title-home h3 {
        font-size: 14px;
        height: 13px;
        line-height: 13px;
        text-align: left;
    }
    
    .hide-240 {
        display: none;
    }
    
    .show-240 {
        display: block;
    }
    

}*/
    
#nav ul ul {
    display: none;
}
#nav li:hover > ul {
    display: none;
}
#container {
    padding:0;
}
#menu-button {
    position:absolute;
    right:17px;
    top:21px;
    display:block;
}
.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860, .col-776 {
    width:100%;
}
/*body.parent-pageid-16284 {
    	background: url('img/patients-320.jpg') 0 0 no-repeat;
    }*/

/* body.archive {
	    background: url('img/blog-320.jpg') 0 0 no-repeat;
    }
        body.page-template-doctors-php {
	    background: url('img/doctors-320.jpg') 0 0 no-repeat;
    }
    */
 #logo {
    text-align:left;
    margin:22px 0 42px 20px;
    width: 201px;
    height: 46px;
}
#logo img {
    width: 201px;
    height: 46px;
    @include transition();
}
.home #wrapper, .page-template-doctors-php #wrapper {
    margin: 0;
}
#wrapper {
    margin: 0;
    padding: 0;
}
#header form {
    margin:0;
}
#featured {
    margin: 7px 0 0 0;
}
#featured .sub {
    margin:0;
    text-align:center;
}
#featured h2 {
}
.call-to-action {
    margin: 0em 0 0 0;
    padding:6px 20px 24px 20px;
}
$button-padding-top: pxtoem(5px,24px);

.call-to-action a.button {
    padding: (0.4em + $button-padding-top) 1.5em 0.4em 1em;
    font-size: 24px;
    line-height: 30px;
    vertical-align: middle;
    position: relative;
    
}
.call-to-action a.button .arrow svg, .call-to-action a.button .arrow img {
    width: 30px;
    height:30px;
    line-height:30px;
}
#featured p {
    font-size: 12px;
    line-height: 1.5em;
    display:inline;
    padding:0;
}
#featured-image {
    margin: 0;
}
#featured-image img {
    margin-bottom:20px;
    border-bottom: 1px solid #fff;
}
.hero-copy {
    padding: 0 40px;
}
.page-template-doctors-php .hero-copy {
    padding: 0;
}
.top-menu {
    margin:0 auto 10px;
    text-align:center;
    float:none;
    clear:both;
}
.top-menu li a {
    font-size:18px;
}
.top-menu li:first-child a {
    padding-left:0;
}
.featured-title {
    font-size:21px;
    letter-spacing:.5px;
    padding-top:17px;
    font-weight:normal;
}
.page-template-doctors-php .featured-title {
    font-size: 30px;
}
.featured-subtitle {
    font-size:12px;
    display:inline;
    padding:0;
}
.page-template-doctors-php .sub {
    padding-top: 8px;
}
.page-template-doctors-php .featured-subtitle {
    font-size: 19px;
    color: #00468c;
}
.get-started h2 {
    font-size:35px;
}
.get-started h3 {
    font-size:18px;
}
.page-template-doctors-php .get-started h3 {
    font-size: 19px;
}
.find-doctor {
    padding:0;
}
.find-doctor label {
    font-size:1em;
}
.hide-320 {
    display: none;
}
.show-320 {
    display: block;
}
.home #widgets, .page-template-doctors-php #widgets {
    margin-top: 0;
}
#footer {
    padding: 0 0 0;
    margin: 0;
}
.widget-wrapper {
    /*padding:0 20px;*/
    padding:0;
    margin: 0 0 20px;
    width: 100%;
}
span.customSelect {
    font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
    overflow-x: visible;
}
ul.social-icons li a {
    width: 61px;
    height: 61px;
}
#footer .social-icons {
    margin-bottom:20px;
    text-align: center;
}
.contact-us {
    font-size:30px;
    padding:20px 0;
}
#footer {
    text-align: center;
}
#footer .about-us a {
    font-size:21px;
}
#widgets .call-to-action {
    padding:1em 0;
}
.find-doctor input[type=text] {
    margin-top:0px;
}
ul.social-icons li a {
    width:48px;
    height:48px;
}

/* =Dropdown Navigation
-------------------------------------------------------------- */

#nav {
    display:block;
}
#nav ul {
    float:none;
    clear:both;
}
.drawer {
    display:none;
    clear: both;
    float: none;
}
.customSelectInner {
    background:url(img/arrow-select.png) no-repeat 99% center;
}

/* =Find Doctor Form
-------------------------------------------------------------- */

.find-doctor .text-input {
    margin:0 0 10px;
}
.find-doctor {
    padding:18px 0;
    line-height:2em;
}
.find-doctor label {
    font-size: 20px;
    height: 41px;
    line-height: 41px;
}
.find-doctor input[type=text] {
    height: 41px;
    line-height: 41px;
    vertical-align: top;
}
.find-doctor .or {
    font-size:20px;
    margin: 0;
}
#widgets .call-to-action {
    margin: 20px 0 0 0;
}
#widgets a.button {
	background: $bright-red;
	border: 1px solid $bright-red;
    @extend a.button;
}
#widgets a.button:hover {
	background: $dark-red;
	border: 1px solid $dark-red;
}
#widgets a.button svg {
    width:30px;
    height:30px;
}
.home-widgets {
    padding: 0 1em;
    overflow: auto;
}
.home #widgets #home-left h2, .page-template-doctors-php #widgets h2 {
    font-size: 35px;
    color: $dark-blue;
    margin-bottom: .25em;
    text-align: center;
}
.home #widgets .get-started h2, .page-template-doctors-php #widgets .get-started h2 {
    font-size: 35px;
}
.home #widgets p, .page-template-doctors-php #widgets p {
    margin-top:0;
    text-align: center;
}
.get-started {
    padding-bottom: 0;
}
.get-started h2 {
    font-size:42px;
}
.get-started h3 {
    font-size:23px;
}

/* =Footer
-------------------------------------------------------------- */

#footer {
    padding: 20px 0 0 0;
    margin:0 0 0;
}
#footer-wrapper .col-220 {
    width: 100%;
    margin:0;
}

#footer .social-icons {
    text-align: center;
    margin:10px 0 20px 0;
}
ul.social-icons li {
    margin: 0 0 0 18px;
    font-size: 21px;
    text-align: center;
    vertical-align: top;
}
ul.social-icons li a {
    width:61px;
    height:61px;
    margin-bottom:.5em;
}
.social-icons li a.social-icons-youtube {
    background-position: 0 0;
}
.social-icons li a.social-icons-facebook {
    background-position: 0 -220px;
}
.social-icons li a.social-icons-blog {
    background-position: 0 -61px;
}
.copyright {
    margin:0 0 0 0;
    padding: .5em 0;
}
#footer .find-us {
    text-align:left;
    color:#0070B0;
}
.col-220 {
    text-align: center;
}
#footer .col-220:first-child {
}
#footer .col-220 .padding {
    padding:0;
}
.footer-list {
    padding: 0;
    margin:0;
    float:none;
    font-size: 24px;
}
.footer-list li {
    padding: 0 15px;
    line-height: 60px;
    max-width: 100%;
}
#menu-footer-menu li {
    border-bottom: 1px solid #e5e5e6;
}
.footer-list.secondary li {
    &:not(:last-of-type) {
        border-bottom: 1px solid #e5e5e6;
    }
}
#footer .list-title {
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    max-width:100%;
    background: $light-blue;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 35px;
    vertical-align: middle;
    display:block;
}
.ortho-accel-logo {
    width: 247px;
    height: 80px;
    margin: 0 auto 30px;
}
.top-menu li:first-child a, .top-menu li.current-page-ancestor a, .top-menu li.current-menu-item a, .doctors-pages .top-menu li a {
    background: url('img/header-arrow.png') center bottom no-repeat;
}
.copyright ul li {
    display:inline;
    border-left: 1px solid #fff;
    padding: 0 .5em;
}
.copyright ul li:first-child {
    border-left: 0;
    padding-left: 0;
}
.col-776 {
    @include box-sizing(border-box);
    width: 100%;
    margin:0;
    padding: 0;
    background: none;
}

/* =Sidebar Widgets
-------------------------------------------------------------- */

#widgets {
    margin-top: 0;
}
#widgets.col-300 {
    max-width: 100%;
}
.widget-title {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: normal;
}
.content-wrapper {
    padding: $tabletpadding;
}
.testimonial {
    margin-right: 0;
    padding:22px 0;
    max-width:100%;
    text-align: center;
    &:not(:last-of-type) {
        background: $dotted-horiz;
    }
}
.testimonial img.alignleft {
    float:none;
    margin: 0 auto;
    text-align: center;
    width: 175px;
    height: 175px;
    border: 22px solid $light-gray;
    outline: 1px solid #e6e6e6;
}
.testimonial p {
    text-align: justify;
    color: $dark-blue;
    line-height: 1.25em;
    font-size: 12px;
    margin: .5em 1.5em;
}
.testimonial h3 {
    font-size: 14px;
    margin: 22px 0 0;
}
.breadcrumb-list {
    padding: $mobilepadding;
}
h1.post-title {
    padding: $mobilepadding;
}
.breadcrumb-list {
    font-size: 15px;
}
.breadcrumb-current {
    color: #00b3d3;
}
.title-wrapper {
    margin-top: 5px;
    margin-bottom: 24px;
}
.content-wrapper .post-entry h2 {
    font-size: 20px;
}
.post-entry {
    padding-top: 14px;
}
.widget-title {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.archive, .single, .search {
	.wp-caption.alignnone {
		margin: 0 auto .5em;
	    width: 100%;
	    max-width: 100%;
	    display: block;
	    overflow: hidden;
	    @include box-sizing(border-box);
	}
}

.wp-caption img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
 }
.wp-caption p.wp-caption-text {
    text-align: left;
    max-width: 100%;
    margin:0 auto;
    padding: 10px 0 0;
    color: #0070b0;
}
h2.post-title {
    font-size: 16px;
    margin-bottom: .25em;
}
.content-wrapper {
    padding: 0 19px;
}
.page-template-sales-rep-locator-php .content-wrapper {
	padding: 0 0;
}
/* =Doctors Homepage
-------------------------------------------------------------- */

.doctors-product {
    padding-left: 0px;
    @include box-sizing(border-box);
}
.doctors-product .product-wrapper {
    border: 1px solid #d7d7d7;
    /*min-height: 352px;*/
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    max-width:300px;
    @include box-sizing(border-box);
    color: $dark-blue;
}
.the-product {
    border: 1px solid #dcdcdc;
}
.the-product h3 {
    background: #0070b0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding:2px 0;
    font-size: 21px;
    margin: 0;
}
.page.page-template-doctors-php .home-right .widget-wrapper, .page.page-template-doctors-php .home-left .widget-wrapper {
    margin-bottom: 0;
}
.page.page-template-doctors-php .home-left .widget-wrapper p, .page.page-template-doctors-php .home-right .widget-wrapper p {
    margin-bottom: 0;
}
.page-template-doctors-php #widgets .the-product p {
    font-size: 13px;
    line-height: 1;
    color: $dark-blue;
}
#widgets .the-product .call-to-action {
    margin: 0;
    padding: 0;
}

#widgets .the-product .call-to-action a {
	padding: (0.2em + $small-button-padding-top) 1.5em 0.2em 1em;
    font-size: 16px;
    line-height: 18px;
    @extend .blue;
    vertical-align: middle;
}
#widgets .the-product .call-to-action a.button {
    svg, img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-top:2px;
}
}
#widgets .the-product .doctors-widget-copy {
    background: #fff;
    padding: 18px;
}
.the-product img {
    margin: 0 auto;
}
#home-left, #home-right, #home-middle {
    text-align: center;
}
#home-middle img {
    margin: 0 auto;
}
.page-template-doctor-locator-php .content-wrapper .post-entry h2 {
    font-size: 35px;
}
.find-doctor .customSelect {
    height:40px;
    line-height: 40px;
}
@mixin blue-form {
    span.customSelect, input[type=text] {
        border: 1px solid $dark-blue;
        width: 70% !important; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    span.customSelect {
        font-family:'DIN Next W01 Regular', Arial, Helvetica, sans-serif;
        color: #000;
        font-size: 13px;
        text-indent: 4px;
        border:1px solid $dark-blue;
        text-transform: none;
        background-color: #ffffff;
        @include background-image(linear-gradient(left, #ffffff 80%, $dark-blue 80%, $dark-blue 100%));
        display:inline;
        vertical-align: bottom;
        @include box-sizing(border-box);
    }
    .customSelect {
        width: auto;
        text-align: left;
        @include box-sizing(border-box);
    }
    .customSelectInner {
        background: url('img/arrow-select-small.svg') 88% center no-repeat;
        width: 100% !important;
    }
    label {
        background: $dark-blue;
        width: 30%;
    }
    select {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* =Doctor Locator Page, Sales Rep Locator Page
-------------------------------------------------------------- */


.page-template-doctor-locator-php .find-doctor, .page-template-sales-rep-locator-php .find-doctor {
    @include blue-form;
}
.page-template-doctor-locator-php .find-doctor, .page-template-doctor-locator-php .post-entry, .page-template-sales-rep-locator-php .find-doctor, .page-template-sales-rep-locator-php .post-entry {
    background: none;
    padding-top: 0;
}
.page-template-sales-rep-locator-php .form-wrapper {
	border-bottom: 1px solid $light-blue;
}
.find-doctor .or {
    color: $dark-blue;
}
.page-template-doctor-locator-php, .page-template-sales-rep-locator-php {
	.buttons {
		margin-top: 25px;
		padding-right: 0;
	}
}
.buttons {
	@extend .call-to-action;
	padding-left: 0;
}
.buttons a.searchbutton {
    border: none;
    font-weight: normal;
    width: auto;
    text-align:left;
    text-transform: uppercase;
    padding: (0.2em + $small-button-padding-top) 1.5em 0.2em 1em;
}
a.searchbutton:hover {
    border: none;
}
.buttons {
	text-align: center;
}
a.location {
	text-transform: uppercase;
	font-size: 22px;
    line-height: 18px;
    vertical-align: middle;
    margin: 0 0 1em 0;
    display: block;
}
a.location {
	svg, img {
		padding-bottom: 3px;
	}
}
.page-template-doctor-locator-php .post-entry .find-doctor p, .page-template-sales-rep-locator-php .post-entry .find-doctor p {
    font-size: 18px;
    margin: .5em 0 1em;
}
.page-template-sales-rep-locator-php .get-started.locator form {
	padding: 0 19px;
}
#map_canvas {
    max-width:100%;
    height:388px;
    margin: 0 auto;
}
.map-wrapper {
    outline: 1px solid $light-blue;
    padding: 5px;
}
#results_listing {
    width: 100%;
    margin-bottom:30px;
}

#results_listing ul {
    background: $light-gray;
    padding: 0;
    margin: 0;
    color: $dark-blue;
}
#results_listing ul li {
    padding: 20px 15px 20px 40px;
    &:not(:last-of-type) {
        background: $dotted-horiz;
    }
    position: relative;
    font-size:16px;
}
#results_listing ul h3 {
    /*background: url('img/map-pointer.png') 12px 28px no-repeat;*/
    margin-top: 0;
    &:before {
        content: url("img/map-pointer.png");
        position: absolute;
        left: 11px;
        top:30px;
    }
}
#results_listing ul a {
    color: $light-blue;
}
#results_listing ul h3 a {
    font-weight: bold;
    color: $dark-blue;
    font-size: 16px;
}
.results_directions {
}
.results_specialty {
    display: block;
}
.page-template-sales-rep-locator-php #results_listing {
	margin-top: 20px;
	
	h2 {
	text-align: center;
	text-transform: uppercase !important;
	font-size: 17px;
	margin-bottom: 20px;
	}
	.avatar {
		@extend .wp-caption;
		width: 220px;
		height: auto;
		margin: 0 auto 30px auto;
		padding: 22px;
	}
	.avatar img {
		height: auto;
	}
	ul {
	background: none;
	}
	ul li {
	text-align: center;
	font-size: 16px;
	line-height: 1;
	padding: 0 0 0 0;
	}
	ul li h3 {
	text-transform: uppercase;
	font-size: 16px;
	&:before {
        content: '';
        display: none;
    }
	}
	ul li h4, ul li p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 0 0;
	color: $dark-gray;
	}

}
.page-template-sales-rep-locator-php .get-started h2 {
	font-size: 22px;
}
.page-template-sales-rep-locator-php .get-started p {
	font-size: 13px;
	line-height: 1.25;
}
#results_listing ul a.contactlink {
	padding: (0.2em + $small-button-padding-top) 1.5em (0.2em + $small-button-padding-bottom) 1em;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
    margin-top: 1em;
}
#results_listing .call-to-action {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
}
#results_listing ul a.contactlink {
	img, svg {
	width: 18px;
	height: 18px;
	
	}
}

/* Board of Directors page */

.post-entry .avatar.alignleft {
	@extend .wp-caption;
	clear: both;
	float:none;
	margin: 0 auto;
	display: block;
	padding: 20px;
	width: 198px;
	height: auto;
}

.board-member h2 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 0;
}
.board-member h3 {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
}

@media screen and (max-width: 320px) {
	.hide-320 {
        display: none;
    }
    
    .show-320 {
        display: block;
    }
    .video-wrapper {
	  position: relative;
	  padding-bottom: 56.25%;
	  padding-top: 25px;
	  height: 0;
}
.video-wrapper {
object, embed, iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}

}

@media screen and (min-width: 480px) {
	@import "media-480.scss";
}

@media screen and (max-width: 768px) {
    .video-wrapper {
	  position: relative;
	  padding-bottom: 56.25%;
	  padding-top: 25px;
	  height: 0;
	  overflow: hidden; 
	}
	.video-wrapper {
	object, embed, iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  }
	}
}


@media screen and (min-width: 768px) {
	@import "media-768.scss";	
}

@media screen and (min-width: 980px) {
	@import "media-980.scss";
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
	.find-doctor input[type=text] {
		vertical-align: top;
	}
}

@import "../img/sprites/social-icons/*.png";
@include all-social-icons-sprites;

@import "../img/sprites/select/*.png";
@include all-select-sprites;

.comments-link a {
	color: $light-blue;
}
.comments-link a:hover {
	color: $dark-blue;
}

.page-template-asset-library-page-php { 
	.post-entry p {
		margin-top: 0;
	}
}

.post-entry .col-460 {
	overflow:auto;
	float: left;
}
/*

.fluid-width-video-wrapper {
	width: 100%;
	height: auto;
	position: relative;
	padding: 0px;
	}
.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/
/* page */

#SnapABug_Button {
	display: none;
}

.recent-posts ul {
	list-style: none;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
.recent-posts ul li {
	padding-left: 0;
	margin-left: 0;
	padding-bottom: 1em;
}
.recent-posts ul .date {
	padding-right: 1em;
	vertical-align: bottom;
	display: block;
	float: left;
}
.recent-posts ul a {
	vertical-align: baseline;
	overflow: hidden;
}