/* =Variables
-------------------------------------------------------------- */

/* Colors */

$dark-blue: #0070b0;
$light-blue: #05b9e4;
$bright-red: #da0522;
$dark-red: #b0001c;
$darker-blue: #004a7a;
$dark-blue-rgba: rgba(0,112,176,1);
$light-blue-rgba: rgba(5,185,228,1);
$darker-blue-rgba: rgba(0,74,122,1);
$light-gray: #fafafa;
$dark-gray: #666;

$desktop-width: 1250px;

/*backgrounds */

$dotted-vert: url('img/dotted-line-vertical.png') 100% 0 repeat-y;
$dotted-horiz: url('img/dotted-horizontal.png') 0 100% repeat-x;
$dotted-horiz-top: url('img/dotted-horizontal.png') 0 0 repeat-x;

/*transitions */

$default-transition-duration : 300ms;

/*Padding for Buttons */

$small-button-padding-top: pxtoem(3px,16px);
$small-button-padding-bottom: pxtoem(2px,16px);


$col-60: 6.382978723404%;
$col-140: 14.893617021277%;
$col-220: 23.404255319149%;
$col-300: 31.914893617021%;
$col-380: 40.425531914894%;
$col-460: 48.936170212766%;
$col-540: 57.446808510638%;
$col-620: 65.957446808511%;
$col-700: 74.468085106383%;
$col-780: 82.978723404255%;
$col-860: 91.489361702128%;
$col-940: 100%;
$col776width: percentage(408 / 768);
$col776padding: percentage(24 / 768);
$tabletpadding: 0 percentage(34 / 768);
$mobilepadding: 0 percentage(19 / 320);