#ytplayer .amazingslider-wrapper-0 .amazingslider-slider-0 {
    border: 1px solid #CCC;
    background-color: #FAFAFA;
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
}
#ytplayer .amazingslider-nav-0 .amazingslider-bullet-wrapper-0 .amazingslider-bullet-0-0, #ytplayer .amazingslider-nav-0 .amazingslider-bullet-wrapper-0 .amazingslider-bullet-0-1, #ytplayer .amazingslider-nav-0 .amazingslider-bullet-wrapper-0 .amazingslider-bullet-0-2, #ytplayer .amazingslider-nav-0 .amazingslider-bullet-wrapper-0 .amazingslider-bullet-0-3 {
    border: 1px solid #CCC;
    background-color: #FAFAFA;
    padding: 12px !important;
    box-sizing: border-box;
    width: 194px !important;
    height: 142px !important;
    float: left;
    margin: 0 12px 20px 0 !important;
}
.amazingslider-nav-container-0, .amazingslider-nav-0 {
	margin: 8px 0 0 !important;
	overflow: visible !important;
	position: relative !important;
}
.ytplayer.last {
	margin-right: 0;
}
.content-wrapper .post-entry h2 {
	color: #68676c;
	margin: 20px 0;
}
.vidContent {
	display: inline-block;
	max-width: 100%;
	position: relative;
}
h3 {
	font-size: 16px;
	color: #05b9e4;
	text-transform: uppercase;
}
.recent-posts {
	background: url("../img/dotted-horizontal.png") 0 0 repeat-x;
	padding-top: 20px;
	margin-top: 20px;
	clear: both;
}
.press_release {
	background: url("../img/dotted-horizontal.png") 100% 100% repeat-x;
	margin-bottom: 30px;
}
.press_release:last-child {
	background: none;
}
.press_release h3 {
	font-size: 18px;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1.5em;
}
.press_release p.meta {
	font-size: 18px;
	margin: 3px 0 0;
	color: #0070b0;
}
.testimonial h3 a {
	color: #68676c;
}
.testimonial p {
	font-size: 14px;
}
.testimonial .date {
	color: #999;
	margin-top: 10px;
}
#ytplayer .amazingslider-slider-0 {
	border: 0;
	margin-left: 0;
}